{% extends 'base.html.twig' %}

{% block old %}
<section class="flash">
	<div class="flash-item">
		<img src="img/accordeoniste-paris.jpg" alt="Accordéoniste à Paris - En concert" title="Accordéoniste professionnel à Paris" class="flash-item__background">

		<div class="flash-item__content mr-auto ml-5 col-sm-5">
			<p class="flash-item__content-title">Musicien <br>pour vos événements</p>

			<p class="flash-item__content-text">
				Vous cherchez un accordéoniste pour un mariage, un anniversaire, <br>une soirée d'entreprise ou une animation seniors à Paris, Ile de France ou dans toute la France ?
			</p>

			<a href="{{ path('animations') }}" class="btn btn-secondary flash-item__content-btn">Découvrir les formules <span class="d-none d-md-inline">d'animations musicales</span></a>
		</div>
		<!-- /.flash-item__content -->
	</div>
	<!-- /.flash-item -->
</section>
<!-- /.flash -->
{% endblock %}

{% block body %}
	<section class="flash-new">
		<div class="flash-new-item">
			<!--<img src="img/accordeoniste-paris.jpg" alt="Accordéoniste à Paris - En concert" title="Accordéoniste professionnel à Paris" class="flash-item__background">-->

			<div class="container-fluid flash-new-item__content">
				<div class="row flash-item-row">
					<div class="col-md-4 flash-item-col">
						<h2 class="flash-item__content-title">Accordéoniste pour votre soirée</h2>

						<p class="flash-item__content-text">
							Vous organisez une soirée et souhaitez un accordéoniste pour l'animation musicale, dans un style jazz ou guinguette ?
						</p>

						<a href="{{ path('accordeoniste_soiree') }}" class="btn btn-secondary flash-item__content-btn">En savoir plus</a>

					</div>



					<div class="col-md-4 flash-item-col">
						<h2 class="flash-item__content-title">Groupe de jazz manouche pour vos événéments</h2>

						<p class="flash-item__content-text">
							Notre groupe de musiciens jazz manouche professionnels vous propose des formules pour événements, du duo au quartet.
						</p>

						<a href="{{ path('manouche') }}" class="btn btn-secondary flash-item__content-btn">En savoir plus</a>
					</div>

					<div class="col-md-4 flash-item-col">
						<h2 class="flash-item__content-title">Animations musicales</h2>

						<p class="flash-item__content-text">
							Vous cherchez une animation musicale ? Je propose des formules jazz et chanson française, du solo au quartet.
						</p>

						<a href="{{ path('animations') }}" class="btn btn-secondary flash-item__content-btn">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
	</section>

<!--	<section class="flash-ghost"></section>-->

	<section class="content-section page-section edito">
		<div class="container">
			<div class="row">
				<div class="col-md-8 page-section__content-wrapper">
					<div>
						<h1 class="section-title">Accordéoniste à Paris</h2>

						<p>
							Jérémy Dutheil est un accordéoniste français complet abordant un large univers musical, original et résolument moderne. De la <em class="text-link">guinguette</em> aux <em class="text-link">musiques du monde</em>, en passant par la <em class="text-link">chanson française</em> et le <em class="text-link">jazz manouche</em>, cet artiste polyvalent et passionné aime toucher à tous les styles.
						</p>

						<p>
							<strong>Musicien professionnel</strong> confirmé, Jérémy tire le meilleur de chaque expérience afin de faire évoluer le son de son accordéon. Loin des flonflons musette (sans toutefois les renier), son piano à bretelles exprime tour à tour la joie, la mélancolie ou encore la tristesse.
						</p>

						<p>
							Même s'il est accordéoniste à Paris, Jérémy se produit sur scène dans toute la France, seul ou en groupe.
						</p>

						<p>
							<a href="{{ path('bio') }}" class="btn-secondary"><span class="d-none d-md-inline">Lire la</span> Biographie</a>
						</p>
					</div>
					<!-- /.page-section__content-wrapper -->
				</div>
				<!-- /.col-sm-8 -->

				<div class="col-md-4">
					<img src="{{ asset('img/videos-pic.jpg') }}" alt="Jérémy DUTHEIL, accordéoniste, en concert" title="Accordéoniste parisien en concert" class="img-fluid page-section__img">
				</div>
				<!-- /.col-sm-4 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>
	<!-- /.edito -->

	<section class="content-section page-section anim">
		<div class="container">
			<div class="row flex-column-reverse  flex-md-row">
				<div class="col-md-4">
					<img src="{{ asset('img/anim.jpg') }}" alt="Accordéoniste sur scène, à Paris" title="Jérémy Dutheil, accordéoniste à Paris" class="img-fluid page-section__img">
				</div>

				<div class="col-md-8 page-section__content-wrapper">
					<div>
						<h2 class="section-title section-title--blank">Mariage, soirée, cocktail . . .</h2>

						<p class="txt--blank">
							L'accordéon, de par sa richesse et sa diversité musicales, se prête particulièrement bien au jeu de l'<strong>animation musicale</strong>. Fort d'une expérience certaine, je propose un répertoire varié qui plaira à tout type de public, comme en attestent les nombreux avis positifs. Ici il ne s'agit pas d'un concert classique, mais de s'adapter en fonction de votre lieu et de l'ambiance attendue pour votre soirée. Seul ou accompagné (guitariste, contrebassiste, ...), je me plairai à jouer des standards de jazz et <a href="{{ path('manouche') }}">jazz manouche</a> lors d'un repas en musique ou au vin d'honneur de <a href="{{ path('animations_mariages') }}">votre mariage</a>. Très à la mode actuellement, je propose également des <a href="{{ path('guinguette') }}">soirées guinguettes</a> en solo ou avec chanteuse, autour de la chanson française d'époque.
						</p>

						<p class="txt--blank">
							Je suis <a href="{{ path('soirees_paris') }}">accordéoniste à Paris</a> mais me produis dans la France entière. Différentes formules sont disponibles et de nombreuses options sont discutables en amont de la prestation : acoustique ou sonorisé, styles abordés, ... Suivant vos envies et votre budget, je peux venir <a href="{{ path('accordeoniste_soiree') }}">en solo pour votre soirée</a> ou accompagné par d'autres musiciens ; lors d'un mariage ou d'une soirée privée, on appréciera tout particulièrement le <a href="{{ path('manouche') }}">groupe de jazz manouche</a>, par exemple. J'accompagne également plusieurs chanteuses, avec lesquelles nous proposons des répertoires autour de la chanson française ; un duo très apprécié pour vos anniversaires, ou dans les maisons de retraite (EHPAD, ...) !
 						</p>

						<p>
							<a href="{{ path('animations') }}" class="btn-secondary">Voir les formules <span class="d-none d-md-inline">d'animations musicales</span></a>
						</p>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-section -->
	</section>

	<section class="content-section page-section bands">
		<div class="container">
			<div class="row ">
				<div class="col-md-8 page-section__content-wrapper">
					<div>
						<h2 class="section-title">Musicien accompagnateur</h2>

						<p>
							Bercé par la chanson française, j'apprécie tout particulièrement l'exercice d'accompagnement en formule dépouillée <strong>accordéon / voix</strong> ; ici, ce sont les textes qui priment, et la musique se fait discrète pour les accompagner et embellir l'arrière plan. L'importante liberté d'expression permet de proposer des arrangements originaux, donnant lieu à une interprétation moderne de morceaux parfois vieux d'une centaine d'années.
						</p>

						<p>
							Je travaille actuellement avec plusieurs <em class="text-link ">chanteurs et chanteuses</em>, embrassant un large répertoire au sein même de la chanson ; certaines formations s'orienteront plutôt vers les standards du style (Brel, Piaf, Ferré), d'autres vers des auteurs moins connus du grand public (Leprest, Dimey). Mon accordéon s'invite aussi bien sur de la chanson réaliste (Damia, Fréhel), que de la chanson coquine (Odette Laure, Anne Sylveste) ou révoltée (Renaud, Paccoud).
 						</p>

						<p>
							Accordéoniste à Paris, c'est avec ces petites formations que je me produis le plus régulièrement dans les lieux intimistes de la capitale ; Montmartre, Pigalle, l'accordéon.. Ambiance guinguette et années 60 assurée !
						</p>

						<p>
							<a href="{{ path('collaborations') }}" class="btn-secondary">Voir les artistes <span class="d-none d-md-inline">accompagnés</a>
						</p>
					</div>
				</div>

				<div class="col-md-4 ">
					<img src="{{ asset('img/elena.jpg') }}" alt="Chanteuse et accordéoniste" title="Elena Josse et Jérémy DUTHEIL, accordéon / voix" class="img-fluid page-section__img">
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-section -->
	</section>
	<!-- /.sideman -->

	<section class="content-section page-section sideman">
		<div class="container">
			<div class="row flex-column-reverse flex-md-row">
				<div class="col-md-4">
					<img class="img-fluid page-section__img" src="img/band.jpg" alt="Le groupe MimE sur scène" title="Le groupe MimE sur scène, avec Jérémy Dutheil à l'accordéon">
				</div>

				<div class="col-md-8">
					<h2 class="section-title section-title--blank">En groupe</h2>

					<p class="txt--blank">
						En groupe, l'espace musical est à partager entre les différents instrumentistes ; les rôles sont définis plus rigoureusement, et chacun contribue à un son global. L'apport notamment d'une <strong>section rythmique</strong> (basse, batterie) va permettre d'obtenir une musique plus puissante, laissant à l'accordéon une place plus <strong>mélodique</strong>.
					</p>

					<p class="txt--blank">
						C'est aussi et avant tout l'occasion de partager une véritable <strong>aventure humaine</strong>, que ce soit dans la vie quotidienne (répétitions, organisation) ou en tournée sur les scènes françaises.
					</p>

					<p class="txt--blank">
						Travailler avec d'autres musiciens me permet enfin d'aborder des styles originaux, moins accessibles à l'accordéon solo ; je joue par exemple de la <em>chanson teintée de jazz</em>, du <em>rock oriental</em> ou de la <em>chanson swing</em>. <br>
						Avec ces différents projets, nous travaillons essentiellement sur nos <strong>propres compositions</strong>.
					</p>

					<p class="txt--blank">
						Certain de ces ensembles de musiciens se destinent plus particulièrement à l'animation de vos événements (mariage, anniversaire, soirée privée..), comme notre <a href="{{ path('manouche') }}">groupe de jazz manouche</a>, par exemple (voir aussi l'ensemble de nos <a href="{{ path('musiciens_soirees') }}" style="color: #ffffff;">musiciens pour vos soirées</a>).
					</p>

					<p>
						<a href="{{ path('collaborations') }}" class="btn-secondary">Voir les groupes</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="content-section page-section">
		<div class="container">
			<h2 class="section-title">Quelques références</h2>

			<div class="partners">
				<img src="{{ asset('img/vinci.png') }}" alt="Vinci" style="max-height: 100px; margin-right: 25px;">
				<img src="{{ asset('img/audiens.png') }}" alt="Audiens" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/lebarn.svg') }}" alt="Hôtel Le Barn" style="max-width: 100px; max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/terremer.png') }}" alt="Restaurant Terre & Mer" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/greatweddings.jpeg') }}" alt="Great Weddings in France" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/bistrochamps.png') }}" alt="Le Bistro des Champs" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/lamarlotte.png') }}" alt="La Marlotte" style="max-height: 60px; margin-right: 25px;">
			</div>

			<script src="https://apps.elfsight.com/p/platform.js" defer></script>
			<div class="elfsight-app-ec309407-5635-4d34-a076-6f44bf20acc8 reviews"></div>
		</div>
	</section>
{% endblock %}
