{% extends 'base.html.twig' %}

{% block title %}
	Accordéoniste pour votre mariage - Jazz - Chanson française
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous êtes à la recherche d'un accordéoniste pour votre mariage ? Seul ou en groupe, Jérémy propose des animations pour vin d'honneur ou repas. Devis gratuit !">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/flash-item-1.webp',
																				 'jpeg': 'img/flash-item-1.jpg'
																			   },
																	'default': 'img/flash-item-1.jpg',
																	'lazyload': false,
																	'alt': 'Accordéoniste pour votre mariage',
																	'title': 'Accordéoniste pour votre mariage',
																	'class': 'flash-item__background flash-item__background--groupes',
																	'style': '' } %}
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title">Accordéoniste pour votre mariage</h1>

			{{ include('utils/contact-cta.html.twig') }}

			<p>
				Vous êtes à la recherche d'un <strong>accordéoniste pour votre mariage</strong> ?
			</p>

			<p>
				Musicien professionnel basé à Paris (Ile de France), je suis disponible pour des <strong>animations musicales</strong> ou concert lors de votre mariage. Je me déplace dans la France entière et suis autonome en matériel de sonorisation. Les formules et le répertoire sont variés, en accord avec vos envies (vin d'honneur, soirée, ...).
			</p>

			<p>
				Fort d'une expérience musicale conséquente, je vous propose un répertoire <strong>varié</strong> parcourant tous les styles et toutes les générations ; du musette au jazz, en passant par la chanson française et le tango, il y en aura pour <strong>tous les goûts</strong>.
			</p>

			<p>
				Suivant vos envies et celles de vos convives, nous préparerons en amont l'orientation du spectacle pour votre mariage ; plutôt jazz, plutôt chanson, plutôt discret.. Qu'il s'agisse plutôt d'animer le vin d'honneur, le repas ou la soirée.. C'est vous (et vos invités !) qui décidez tout. <br>
				Je propose des tarifs abordables, et des formules <strong>tout compris</strong> (sonorisation éventuelle, ...).
			</p>

			<p>
				Ci-dessous, vous trouverez quelques exemples de formules proposées, et des informations détaillées sont disponibles sur <a href="{{ path('animations') }}">cette page</a> ; n'hésitez pas à me contacter pour en discuter !
			</p>

			<h2 class="section-title section-title--small">Accordéoniste jazz pour vin d'honneur</h2>

			<div class="row">
				<div class="col-md-8">
					<p>
						L'accordéon est un instrument magnifique et très riche en musicalité ; en tant qu'accordéoniste professionnel, je suis tout à fait en mesure de vous proposer des animations musicales <strong>en solo</strong> lors de votre mariage. Parfaitement adapté au vin d'honneur ou au repas, le répertoire s'articule autour des standards jazz et chanson française. En toute discrétion, je délivrerai à vos invités une musique d'ambiance chic et élégante pour une atmosphère tendance <i>rétro</i>.
					</p>

					<p>
						De Django Reinhardt à Edith Piaf, en passant par Charlie Parker ou encore Charles Aznavour, laissez vous emporter par des mélodies si souvent entendues ! Peu fréquent, l'accordéon apportera de plus une touche d'originalité à votre événement, qui restera gravé dans les mémoires !
					</p>
				</div>

				<div class="col-md-4">
					{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/videos-pic.webp',
																				 'jpeg': 'img/videos-pic.jpg'
																			   },
																	'default': 'img/videos-pic.jpg',
																	'lazyload': false,
																	'alt': 'Jérémy DUTHEIL, accordéoniste, en concert',
																	'title': 'Jérémy DUTHEIL, accordéoniste, en concert',
																	'class': 'img-fluid page-section__img' } %}
				</div>
				<!-- /.col-sm-4 -->
			</div>

			<div class="row" style="margin-top: 15px; margin-bottom: 15px;">
				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': '-h2oJAjzAtg', 'title': 'Accordéon jazz - Sunny Side of the Street' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'mv3DgoYPCds', 'title': 'Accordéon jazz - Aint Misbehavin' } %}
				</div>
			</div>

			<h2 class="section-title section-title--small">Ambiance guinguette pour votre mariage</h2>

			<p>
				Vous cherchez plutôt une ambiance <i>rétro</i> pour l'animation musicale de votre mariage ? Très à la mode, le thème <a href="{{ path('guinguette') }}">guinguette</a> revient en force aujourd'hui dans tout type d'événement, et notamment les mariages. Plongez dans l'univers des années 30 à 50, avec une musique d'ambiance chic proposée par l'accordéon ; des grands standards de la chanson française (Brel, Aznavour, Piaf, Trenet, ...) aux valses <i>swing</i> de Jo Privat ou Gus Viseur, en passant par quelques classiques <i>musette</i>.. Dépaysement assuré !
			</p>

			<p>
				Ici encore, plusieurs types d'animation sont possibles. Celle-ci peut être discrète, une musique de fond servant juste à créer l'ambiance du Paris d'autrefois. Mais elle peut également être plus présente, et inviter vos convives à chanter sur les standards de la chanson française. Je peux également venir accompagné <strong>d'une chanteuse</strong>, avec qui nous reprenons les airs les plus connus du style.
			</p>

			<div class="row" style="margin-top: 15px; margin-bottom: 15px;">
				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'oSiWQ_thsn8', 'title': 'Accordéon solo - Java Manouche (Jo Privat)' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'CjtwtX3Sd8Q', 'title': 'Aux Champs Elysées - Accordéoniste pour votre soirée' } %}
				</div>
			</div>

			<h2 class="section-title section-title--small">Vous préférez un groupe de musique pour votre mariage ?</h2>

			<p>
				Si vous cherchez plutôt un <a href="{{ path('musiciens_soirees') }}">groupe de musique pour votre mariage</a>, vous êtes également au bon endroit ! L'accordéon s'intègre parfaitement avec d'autres instruments (guitare, contrebasse, batterie, violon, saxophone..) dans un style plutôt jazz / <a href="{{ path('manouche') }}">jazz manouche</a>, mais est aussi l'instrument roi lorsqu'il s'agit d'accompagner une chanteuse ! Je propose de nombreuses formules qui vont du duo au quintet, suivants vos envies et votre budget. Vous trouverez ci-dessous quelques exemples qui me paraissent particulièrement adapté à <strong>votre mariage</strong>.
			</p>

			<h3 class="section-title section-title--smaller">Jazz manouche pour votre mariage</h3>

			{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/trio-jazz-manouche.webp',
																				 'jpeg': 'img/trio-jazz-manouche.jpg'
																			   },
																	'default': 'img/trio-jazz-manouche.jpg',
																	'lazyload': false,
																	'alt': 'Trio jazz manouche avec accordéon',
																	'title': 'Trio jazz manouche avec accordéon',
																	'class': 'img-fluid',
																	'style': 'display: block; width: 80%; margin: auto;' } %}

			<p style="margin-top: 20px;">
				Pour une musique d'ambiance réussie, le jazz manouche est sans contexte le répertoire idéal ! Style virtuose par excellence, les morceaux altèrnent entre balades langoureuses et <i>swing</i> très rapide ; toujours en toute discrétion et dans l'élégance. <br>
				Nous proposons des formules du duo au quintet, autour des standards du genre popularisé par Django Reinhardt (Minor Swing, All of Me, Les Yeux Noirs, ...) ; vous entendrez également quelques chansons françaises revisitées (Ménilmontant, C'est si bon, J'attendrai...).
			</p>

			<div class="row">
				<div class="col-md-6" style="margin-bottom: 10px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'W_uOwoGcBuE', 'title': 'La Foule - Duo jazz manouche (accordéon / guitare)' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'CXq4DWhwqSU', 'title': 'Trio jazz manouche - Accordéon / Guitare / Contrebasse' } %}
				</div>
			</div>

			<p>
				<a class="btn btn-primary" href="{{ path('manouche') }}" style="margin-top: 15px;">Plus d'informations</a>
			</p>

			<h3 class="section-title section-title--smaller" style="margin-top: 20px;">Chanson française pour votre mariage</h3>

			<p>
				Vous souhaitez un événement plus participatif, où vos invités peuvent chanter les airs qu'ils connaissent ? Je travaille avec plusieurs chanteuses, avec lesquelles nous vous proposons un répertoire balayant la chanson française (Piaf, Aznavour, Brel, Trenet, ...). Nos formules commencent en duo <strong>accordéon / voix</strong>, "juste le nécessaire" ; mais nous pouvons également venir accompagnés d'autres instrumentistes (guitare, basse, batterie, violon, ...), pour quelque chose de plus festif. N'hésitez pas à nous contacter pour toute demande d'information.
			</p>

			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-md-6" style="margin-bottom: 10px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'k9SY8saaY3I', 'title': 'Animation musicale avec chanteuse' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'zCgfywiTWKs', 'title': 'Animation musicale avec chanteur' } %}
				</div>
			</div>

			{{ include('utils/contact-cta.html.twig') }}
		</div>
		<!-- /.container -->
	</section>
{% endblock %}
