{% extends 'base.html.twig' %}

{% block title %}
	Musique pour événementiel - Mariage, soirée, cocktail...
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous cherchez un accordéoniste ou un groupe de musiciens pour votre mariage, soirée, cocktail ? Jazz manouche, chanson, ... déplacements dans toute la France !">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/anims_pic.jpg" alt="" class="flash-item__background flash-item__background--groupes">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title">Événementiel et animations musicales</h1>

			<p>
				Jérémy DUTHEIL vous propose avec son accordéon des formules sur mesures pour <strong>l'animation musicale</strong> de votre cocktail, fête ou soirée d'entreprise ; seul ou accompagné d'autres <strong>musiciens</strong>, dans un style plutôt moderne ou <strong>rétro</strong>, il saura combler vos invités en s'adaptant à leurs envies (et les votres !). Musicien professionnel avec de l'expérience, le répertoire proposé est varié et personnalisé pour votre événement.
			</p>

			<p>
				Destinées à tout type de public, ces formules s'adressent aussi bien aux <em>particuliers</em> qu'aux <em>professionnels</em> ; grâce aux qualités acoustique de l'instrument, les conditions techniques sont réduites au minimum. En effet, la plupart du temps, la sonorisation n'est pas nécessaire. Pour de plus grands espaces, pas d'inquiétude : Jérémy DUTHEIL (et ses musiciens) sont <strong>autonomes</strong> et installeront un système de diffusion adapté à votre lieu.
			</p>

			<h2 class="section-title section-title--small" style="margin-top: 25px;">Accordéon solo pour une ambiance discrète</h2>

			<div class="row">
				<div class="col-md-8">
					<p>
						En solo, l'accordéon peut se faire discret, et délivrer une musique de fond agréable pendant votre cocktail ou repas ; ambiance cosy et feutrée assurée ! Vous entendrez alors quelque <strong>standards jazz</strong>, mais aussi des airs de <strong>chanson française</strong> et de <strong>swing musette</strong>.. Le style <em>"guinguette rétro"</em>, fortement apprécié aujourd'hui, donnera sans aucun doute une touche très classe à votre événement !
					</p>

					<p>
						Fort de nombreuses années d'expérience, Jérémy propose des prestations pouvant durer jusque <em>plusieurs heures</em> ; n'hésitez pas à lui demander des morceaux particuliers en amont, qu'il se fera un plaisir de préparer pour le jour J !
					</p>

					<p>
						Exemples de morceaux présents dans le répertoire :
						<ul>
							<li>
								Les feuilles mortes
							</li>

							<li>
								La Foule
							</li>

							<li>
								All of Me
							</li>

							<li>
								Minor Swing
							</li>

							<li>
								Sous le ciel de Paris
							</li>

							<li>
								Aux Champs Elysées
							</li>

							<li>
								Mon amant de Saint Jean
							</li>

							<li>
								Sunny side of the Street
							</li>

							<li>
								Emmenez moi
							</li>

							<li>
								Ménilmontant
							</li>

							<li>
								Les copains d'abord
							</li>

							<li>
								<i>Et bien d'autres...</i>
							</li>
						</ul>
					</p>
				</div>

				<div class="col-md-4">
					<img src="{{ asset('img/videos-pic.jpg') }}" alt="Jérémy DUTHEIL, accordéoniste, en concert" class="img-fluid page-section__img">
				</div>
				<!-- /.col-sm-4 -->
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8eY4FsHf7g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<p class="text-center" style="margin-top: 15px;">
						<a href="https://www.youtube.com/watch?v=mv3DgoYPCds" target="_blank">https://www.youtube.com/watch?v=mv3DgoYPCds</a>
					</p>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VVWMhc7LNcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<p class="text-center" style="margin-top: 15px;">
						<a href="https://www.youtube.com/watch?v=VVWMhc7LNcM" target="_blank">https://www.youtube.com/watch?v=VVWMhc7LNcM</a>
					</p>
				</div>
			</div>

			<p>
				<a class="btn btn-primary" href="{{ path('accordeoniste_soiree') }}">Plus d'informations</a>
			</p>

			<h2 class="section-title section-title--small" style="margin-top: 20px;">Le groupe de jazz manouche</h2>

			<p>
				Le jazz manouche est le style musical par excellence pour l'événementiel : musique virtuose mais toutefois discrète, elle s'intègrera parfaitement dans l'ambiance de votre cocktail d'entreprise ou votre vernissage d'exposition, par exemple. Musiciens professionnels, nous prenons en charge l'aspect technique et la sonorisation (si nécessaire), de manière autonome ; nous proposons des formules du <strong>duo</strong> au <strong>quintet</strong>, dont voici ci-dessous quelques extraits.
			</p>

			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W_uOwoGcBuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CXq4DWhwqSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<p style="margin-top: 10px;">
				<a class="btn btn-primary" href="{{ path('manouche') }}">Plus d'informations</a>
			</p>

			<h2 class="section-title section-title--small" style="margin-top: 20px;">Formules avec chanteuse</h2>

			<p>
				Pour un événement plus participatif, ou simplement parce que vous aimez le chant, je vous conseille les formules avec chanteuse ; essentiellement basées sur la chanson française (Piaf, Montand, Barbara, Trenet, ...), nous pouvons aussi proposer des reprises anglosaxones et des répertoires <i>jazz</i>. Nos formations commencent au duo accordéon / voix en toute intimité, mais peuvent suivant vos envies également inclure d'autres musiciens (guitare, basse, batterie, piano, violon, ...). N'hésitez pas à <a href="{{ path('contact') }}"  rel="nofollow">nous contacter</a> pour nous exposer votre projet.
			</p>

			<h3 class="section-title section-title--smaller">Marjolaine Piémont</h3>

			<img style="display: block; max-width: 50%; margin: auto; margin-bottom: 15px;" src="img/marjolaine.jpg" alt="Marjolaine Piémont">

			<p>
				J'ai la chance de travailler avec Marjolaine Piémont, personnalité bien ancrée dans la scène française ; notamment connue pour ses participations à <strong>Mozart l'Opéra Rock</strong> ou <strong>Sol en Cirque</strong>, Marjolaine poursuit également une carrière sous son propre nom, qui l'a mené entre autres aux premières partie de Zazie en 2016, et à plusieurs tournées au Japon.
			</p>

			<p>
				Très habituée à l'événementiel où elle a fait ses débuts (Pierre Cardin, Maxim's, ...), Marjolaine propose un vaste répertoire de <strong>chanson française</strong> et de <strong>jazz</strong>, dédié à vos soirées et événements. Nous sommes disponibles en duo accordéon / voix, ou avec d'autres instrumentistes sur demande ; n'hésitez pas à <a href="{{ path('contact') }}" rel="nofollow">nous contacter</a> pour en savoir plus.
			</p>

			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-4">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bmoR95qUdoQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-4">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lTg9VePoQXg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-4">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bfz5R9j6I-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<h3 class="section-title section-title--smaller">Leslie Marquis</h3>

			<p>
				Avec Leslie Marquis, nous vous proposons un répertoire <strong>chanson française</strong> en duo accordéon / voix, de Brel à Barbara, en passant par Pink Martini et Charles Trenet...
			</p>

			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k9SY8saaY3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<h3 class="section-title section-title--smaller">Cid Marquis</h3>

			<p>
				Formule particulière avec Cid Marquis, car nous vous proposons un concert <strong>hommage à Edith Piaf</strong> ; pendant environ 1h15, laissez vous emporter par les plus beaux morceaux de La Môme. Vous entendrez bien entendu les grands classiques (La Foule, Padam, Milord, L'accordéoniste...), mais également certaines pépites moins entendues du grand public (Polichinelle, Mon Apéro, ...). En duo accordéon / voix, dans la plus grande simplicité !
			</p>

			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gtqG5br0M60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<h3 class="section-title section-title--smaller">Marie Pétrolette</h3>

			<p>
				Marie Pétrolette évolue à la scène avec ses propres chansons : des textes qui racontent la vie d'une jeune femme moderne, sur une musique plutôt festive. En duo accordéon / voix, nous proposons une formule "concert" autour des chansons de Marie essentiellement, mais également des formules "animations" où nous reprenons un répertoire plus large de chanson française (Bourvil, Odette Laure, Frehel, ...).
			</p>

			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o91BGe2Xaac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<h2 class="section-title section-title--small" style="margin-top: 20px;">Votre événement sur mesure</h2>

			<p>
				Toutes ces formules vous sont proposées à titre d'exemple ; pour votre événement, vous choisissez tout ! Le style musical, l'orientation du répertoire, les instruments présents (l'accordéon restant une constante ;) ), ... N'hésitez pas à <a href="{{ path('contact') }}" rel="nofollow">me contacter</a> afin de discuter de votre soirée !
			</p>

			<hr style="background-color: #2d2d2d; margin: 25px 0;">

			<h2 class="section-title section-title--small" style="margin-top: 20px">Quelque types d'événements </h2>

			<div class="row">
				<div class="col-sm-6 col--mbot">
					<h3 class="section-title section-title--smaller">Animations seniors</h3>

					<p>
						Intervention au sein de votre établissement : maison de retraite, EHPAD, ...
					</p>

					<a href="{{ path('animations_seniors') }}" class="btn btn-primary">En savoir plus</a>
				</div>

				<div class="col-sm-6 col--mbot">
					<h3 class="section-title section-title--smaller">Mariages</h3>

					<p>
						Une formule discrète pour votre vin d'honneur ? Un repas en musique ? Une soirée au son du jazz manouche ?<br>
					</p>

					<a href="{{ path('groupe_musique_mariage') }}" class="btn btn-primary">En savoir plus</a>
				</div>

				<div class="col-sm-6 col--mbot">
					<h3 class="section-title section-title--smaller">Anniversaires</h3>

					<p>
						Grand moment de partage familial, un anniversaire est l'occasion parfaite pour une animation musicale ; que l'arrivée de l'accordéon soit une surprise ou non, vos invités seront ravis. Plutôt discret pendant le repas, dansant après.. Tout est possible !
					</p>

					<!--<a href="#" class="btn btn-primary">En savoir plus</a>-->
				</div>

				<div class="col-sm-6 col--mbot">
					<h3 class="section-title section-title--smaller">Événements d'entreprise</h3>

					<p>
						Votre entreprise souhaite organiser une réception ou un cocktail à l'occasion d'un événement particulier (inauguration, lancement de marque, ...) ? N'hésitez plus, et ajouter une touche musicale chic et décontractée ! En solo ou avec d'autres musiciens, les standards jazz résonneront en toute discrétion au son de l'accordéon, et apporteront LE plus à votre soirée.
					</p>

					<!--<a href="#" class="btn btn-primary">En savoir plus</a>-->
				</div>

				<div class="col-sm-6 col--mbot">
					<h3 class="section-title section-title--smaller">Repas en musique</h3>

					<p>
						Vous êtes un restaurant et souhaitez animer discrètement vos repas ? Ou simplement un particulier qui invite des amis ? L'accordéon se fond dans l'arrière plan, et distille une musique d'ambiance agréable.
					</p>

					<!--<a href="#" class="btn btn-primary">En savoir plus</a>-->
				</div>

				<div class="col-sm-6 col--mbot">
					<h3 class="section-title section-title--smaller">Soirées privées</h3>

					<p>
						Dans votre appartement / maison, ou en extérieur, pour n'importe quelle occasion.. Invitez vos amis et profitez d'un concert dans un cadre familial unique ; les formules en duo <strong>accordéon / voix</strong> autour de la chanson française sont particulièrement appréciées dans ce contexte.
					</p>

					<!--<a href="#" class="btn btn-primary">En savoir plus</a>-->
				</div>
			</div>

			<hr style="background-color: #2d2d2d; margin: 25px 0;">

		</div>
		<!-- /.container -->
	</section>
{% endblock %}
