{% extends 'base.html.twig' %}

{% block title %}
	Animation musicale pour vos événements - Soirée - Cocktail
{% endblock %}

{% block oldmetadesc %}
	<meta name="description" content="Vous cherchez une animation musicale pour votre événement (mariage, soirée, cocktail) ? Groupe jazz manouche, duos chanson, ... déplacements dans toute la France !">
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous cherchez une animation musicale pour votre événement ? Découvrez nos formules sur mesure pour une soirée réussie !">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/manouchebg.webp',
																				 'jpeg': 'img/manouchebg.jpg'
																			   },
																	'default': 'img/manouchebg.jpg',
																	'lazyload': false,
																	'alt': 'Accordéoniste et musiciens pour événements (soirées, mariages, cocktails)',
																	'title': 'Accordéoniste et musiciens pour événements (soirées, mariages, cocktails)',
																	'class': 'flash-item__background flash-item__background--groupes',
																	'style': 'top: -30%;' } %}
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<h1 class="section-title section-title--centered">Animations musicales</h1>
		<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>
		<h2 class="section-title section-title--centered"><small>Événementiel et soirées privées</small></h2>

		<div class="home-container-section">
			<div class="container">
				{{ include('utils/contact-cta.html.twig') }}

				<p>
					Accordéoniste professionnel, je vous propose des formules sur mesures pour <strong>l'animation musicale</strong> de votre  événement : cocktail, fête, vin d'honneur, <a href="{{ path('entreprise') }}">soirée d'entreprise</a>. Seul ou accompagné d'autres <strong>musiciens</strong>, dans un style plutôt moderne ou <strong>rétro</strong>, mes prestations s'adaptent à vos envies et celles de vos invités pour une soirée chaleureuse et réussie. Musicien professionnel avec de l'expérience, je propose un répertoire varié et personnalisé pour votre événement. J'évolue plus particulièrement dans les styles musicaux <strong>jazz</strong> (manouche) et <strong>chanson française</strong>.
				</p>

				<p>
					Nos formules étant destinées à tout type de public, ces <a href="{{ path('musiciens_soirees') }}">groupes de musiciens</a> s'adressent aussi bien aux <em>particuliers</em> qu'aux <em>professionnels</em>. Grâce aux qualités acoustique de l'accordéon (et des autres instruments pour les orchestres), les conditions techniques sont souvent réduites au minimum. En effet, la plupart du temps, il n'est pas nécessaire d'avoir une sonorisation conséquente, de petits amplis suffisent. 
				</p>

				<p>
					Pour de plus grands espaces, pas d'inquiétude : nous sommes complètement <strong>autonomes</strong> et installerons un système de diffusion adapté à votre lieu. Professionnels avertis, nous prenons en charge l'organisation de l'<strong>animation musicale de votre soirée</strong> de A à Z.
				</p>

				<p>
					Vous trouverez sur cette page différents types de prestations, à titre d'exemple ; n'hésitez pas à nous contacter pour toute demande particulière.
				</p>
			</div>
		</div>

		<div class="home-container-section">
			<div class="container">
				<h2 class="section-title section-title--centered">Pourquoi nous choisir ?</h2>

				<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

				<div class="row">
					<div class="col-md-6">
						<h3 class="section-title section-title--smaller" style="margin-bottom: 5px;">Des musiciens reconnus</h3>

						<p>
							Nos musiciens sont bien entendu tous professionnels, avec des dizaines d'années de pratique instrumentale. Ils se produisent régulièrement sur scène en public, notamment avec de grands noms du jazz manouche. Vous aurez l'assurance d'une prestation musicale extraordinaire, proposée par des musiciens <strong>reconnus dans leur milieu</strong>.
						</p>
					</div>

					<div class="col-md-6">
						<h3 class="section-title section-title--smaller" style="margin-bottom: 5px;">Expérience de l'événementiel</h3>

						<p>
							Nous intervenons lors d'événements d'entreprise et de soirées privées depuis plusieurs années. Nous possédons désormais une bonne expérience de ce type de prestations, et pouvons vous conseiller au mieux pour une animation musicale réussie.
						</p>
					</div>

					<div class="col-md-6">
						<h3 class="section-title section-title--smaller" style="margin-bottom: 5px;">Professionnalisme et rigueur</h3>

						<p>
							Ponctualité, sérieux, autonomie, politesse... Autant de mots qui décrivent notre ligne de conduite lors de votre soirée. Le groupe de musique est un acteur à part entière de votre événement, et à ce titre se doit d'être exemplaire.  
						</p>
					</div>

					<div class="col-md-6">
						<h3 class="section-title section-title--smaller" style="margin-bottom: 5px;">Des formules sur mesure</h3>

						<p>
							Parce que chaque événement est différent, nous pensons qu'il est indispensable d'adapter nos formules à vos envies. Ainsi, nous vous proposons ici des exemples de groupe de jazz manouche, que vous pouvez adapter à votre convenance. Nous pouvons également mixer les répertoires, entre jazz manouche et chanson française par exemple, pour une ambiance typique et réfléchie pour <strong>votre</strong> soirée !
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="home-container-section">
			<h2 class="section-title section-title--centered" style="margin-top: 25px;">Accordéon solo pour une ambiance discrète</h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				<div class="row">
					<div class="col-md-6 order-md-3">
						{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': '-h2oJAjzAtg', 'title': 'Accordéon jazz - Sunny Side of the Street' } %}
					</div>

					<div class="col-md-8 order-md-1">
						<p>
							En solo, l'accordéon peut se faire discret, et délivrer une musique de fond agréable pendant votre cocktail ou repas ; ambiance cosy et feutrée assurée ! Vous entendrez alors quelque <strong>standards jazz</strong>, mais aussi des airs de <strong>chanson française</strong> et de <strong>swing musette</strong>.. Le style <em>"guinguette rétro"</em>, fortement apprécié aujourd'hui, donnera sans aucun doute une touche très classe à votre événement !
						</p>

						<p>
							Fort de nombreuses années d'expérience, Jérémy propose des prestations pouvant durer jusque <em>plusieurs heures</em> ; n'hésitez pas à lui demander des morceaux particuliers en amont, qu'il se fera un plaisir de préparer pour le jour J !
						</p>

						<p>
							Exemples de morceaux présents dans le répertoire :
							<ul>
								<li>
									Les feuilles mortes
								</li>

								<li>
									La Foule
								</li>

								<li>
									All of Me
								</li>

								<li>
									Minor Swing
								</li>

								<li>
									Sous le ciel de Paris
								</li>

								<li>
									Aux Champs Elysées
								</li>

								<li>
									Mon amant de Saint Jean
								</li>

								<li>
									Sunny side of the Street
								</li>

								<li>
									Emmenez moi
								</li>

								<li>
									Ménilmontant
								</li>

								<li>
									Les copains d'abord
								</li>

								<li>
									<i>Et bien d'autres...</i>
								</li>
							</ul>
						</p>
					</div>

					<div class="col-md-4 order-md-2 d-none d-md-block">
						{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/videos-pic.webp',
																					'jpeg': 'img/videos-pic.jpg'
																				},
																		'default': 'img/videos-pic.jpg',
																		'lazyload': false,
																		'alt': 'Jérémy DUTHEIL, accordéoniste, en concert',
																		'title': 'Jérémy DUTHEIL, accordéoniste, en concert',
																		'class': 'img-fluid page-section__img' } %}
					</div>
					<!-- /.col-sm-4 -->

					<div class="col-md-6 order-md-3">
						{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'oSiWQ_thsn8', 'title': 'Accordéon guinguette - Java Manouche (Jo Privat)' } %}
					</div>
				</div>

				<p class="text-center">
					<a class="btn btn-primary" href="{{ path('accordeoniste_soiree') }}" style="margin-top: 10px;">Plus d'informations</a>
				</p>
			</div>
		</div>

		<div class="home-container-section">
			<h2 class="section-title section-title--centered">Le groupe de jazz manouche</h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				<p>
					Le jazz manouche est le style musical par excellence pour l'événementiel : musique virtuose mais toutefois discrète, elle s'intègrera parfaitement dans l'ambiance de votre cocktail d'entreprise ou votre vernissage d'exposition, par exemple. Musiciens professionnels, nous prenons en charge l'aspect technique et la sonorisation (si nécessaire), de manière autonome ; nous proposons des formules du <strong>duo</strong> au <strong>quartet</strong>, dont voici ci-dessous quelques extraits.
				</p>

				<p>
					L'accordéon est bien évidemment présent dans toutes les formules, apportant une touche d'originalité à nos groupes ; ce n'est pas tous les jours que l'on voit un <a href="{{ path('accordeon_jazz_manouche') }}">accordéoniste jazz manouche</a> !
				</p>

				<p>
					Nous intervenons également très régulièrement en tant qu'orchestre de mariage, au vin d'honneur par exemple.
				</p>

				<div class="row">
					<div class="col-md-6" style="margin-bottom: 10px;">
						{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'W_uOwoGcBuE', 'title': 'La Foule - Duo jazz manouche (accordéon / guitare)' } %}
					</div>

					<div class="col-md-6">
						{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'CXq4DWhwqSU', 'title': 'Trio jazz manouche - Accordéon / Guitare / Contrebasse' } %}
					</div>
				</div>

				<p style="margin-top: 10px; text-align: center;">
					<a class="btn btn-primary" href="{{ path('manouche') }}">Plus d'informations</a>
				</p>
			</div>
		</div>

		<div class="home-container-section">
			<h2 class="section-title section-title--centered">Formules chanson française</h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				<p>
					Pour un événement plus participatif, ou simplement parce que vous aimez le chant, je vous conseille les formules avec chant ; essentiellement basées sur la chanson française (Piaf, Montand, Barbara, Trenet, ...), nous pouvons aussi proposer des reprises anglosaxones et des répertoires <i>jazz</i>. Nos formations commencent au duo accordéon / voix en toute intimité, mais peuvent suivant vos envies également inclure d'autres musiciens (guitare, basse, batterie, piano, violon, ...). N'hésitez pas à nous contacter pour nous exposer votre projet.
				</p>

				<p>
					Quelques morceaux que vous pourrez entendre : Un mauvais garçon, La complaine de la butte, Salut les Amoureux, Emmenez moi, Vesoul, ...
				</p>

				<div class="row justify-content-center" style="margin-bottom: 20px;">
					<div class="col-md-6" style="margin-bottom: 10px;">
						{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'k9SY8saaY3I', 'title': 'Animation musicale avec chanteuse' } %}
					</div>

					<div class="col-md-6">
						{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'zCgfywiTWKs', 'title': 'Animation musicale avec chanteur' } %}
					</div>
				</div>
			</div>
		</div>


		<div class="home-container-section">
			<h2 class="section-title section-title--centered">Votre événement sur mesure</h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				<p>
					Toutes ces formules vous sont proposées à titre d'exemple ; pour votre événement, vous choisissez tout ! Le style musical, l'orientation du répertoire, les instruments présents (l'accordéon restant une constante ;) ), ... N'hésitez pas à me contacter afin de discuter de votre soirée !
				</p>
			</div>
		</div>

		<div class="home-container-section">
			<h2 class="section-title section-title--centered">Ils nous ont fait confiance</h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				{% include 'partners.html.twig' %}
				
				<script src="https://apps.elfsight.com/p/platform.js" defer></script>
				<div class="elfsight-app-ec309407-5635-4d34-a076-6f44bf20acc8 reviews"></div>
			</div>
		</div>

		<div class="home-container-section">
			<h2 class="section-title section-title--centered">Quelque types d'événements </h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				<div class="row">
					<div class="col-sm-6 col--mbot">
						<h3 class="section-title section-title--smaller">Animations seniors</h3>

						<p>
							Intervention au sein de votre établissement : maison de retraite, EHPAD, ...
						</p>
					</div>

					<div class="col-sm-6 col--mbot">
						<h3 class="section-title section-title--smaller">Mariages</h3>

						<p>
							Une formule discrète pour votre vin d'honneur ? Un repas en musique ? Une soirée au son du jazz manouche ?<br>
							Un groupe de musique <i>live</i> apportera un plus non négligeable à votre mariage, et plaira à tous vos invités !
						</p>

						<a href="{{ path('animations_mariages') }}" class="btn btn-primary">En savoir plus</a>
					</div>

					<div class="col-sm-6 col--mbot">
						<h3 class="section-title section-title--smaller">Anniversaires</h3>

						<p>
							Grand moment de partage familial, un anniversaire est l'occasion parfaite pour une animation musicale ; que l'arrivée de l'accordéon soit une surprise ou non, vos invités seront ravis. Plutôt discret pendant le repas, dansant après.. Tout est possible !
						</p>

						<!--<a href="#" class="btn btn-primary">En savoir plus</a>-->
					</div>

					<div class="col-sm-6 col--mbot">
						<h3 class="section-title section-title--smaller">Événements d'entreprise</h3>

						<p>
							Votre entreprise souhaite organiser une réception ou un cocktail à l'occasion d'un événement particulier (inauguration, lancement de marque, ...) ? N'hésitez plus, et ajouter une touche musicale chic et décontractée ! En solo ou avec d'autres musiciens, les standards jazz résonneront en toute discrétion au son de l'accordéon, et apporteront LE plus à votre soirée.
						</p>

						<a href="{{ path('entreprise') }}" class="btn btn-primary">En savoir plus</a>
					</div>

					<div class="col-sm-6 col--mbot">
						<h3 class="section-title section-title--smaller">Repas en musique</h3>

						<p>
							Vous êtes un restaurant et souhaitez animer discrètement vos repas ? Ou simplement un particulier qui invite des amis ? L'accordéon se fond dans l'arrière plan, et distille une musique d'ambiance agréable.
						</p>

						<!--<a href="#" class="btn btn-primary">En savoir plus</a>-->
					</div>

					<div class="col-sm-6 col--mbot">
						<h3 class="section-title section-title--smaller">Soirées privées</h3>

						<p>
							Dans votre appartement / maison, ou en extérieur, pour n'importe quelle occasion.. Invitez vos amis et profitez d'un concert dans un cadre familial unique ; les formules en duo <strong>accordéon / voix</strong> autour de la chanson française sont particulièrement appréciées dans ce contexte.
						</p>

						<a href="{{ path('accordeoniste_soiree') }}" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>

		<div class="home-container-section">
			<h2 class="section-title section-title--centered">Questions / Réponses</h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				<p>
					<strong>Quelle est la durée d'une animation musicale ?</strong> <br>
					La durée de notre animation dépend de vos envies, et de la formule retenue ; à titre indicatif, nous proposons en moyenne 2h de répertoire à l'accordéon solo, et 3h pour les autres formules (groupe jazz manouche, duos accordéon / voix). Les horaires sont bien entendu à discuter à l'avance.
				</p>

				<p>
					<strong>Combien ça coûte ?</strong> <br>
					Le prix peut varier en fonction de plusieurs critères : nombre de musiciens, horaires demandées, période de l'année, lieu de votre événement. Le plus simple reste de <a href="{{ path('contact') }}">nous contacter pour obtenir un devis</a>. <br>
					Vous trouverez néanmoins quelques éléments de réponse en lisant l'article suivant : <a href="https://www.jeremy-dutheil.fr/blog/quel-est-le-tarif-dun-groupe-de-musique-pour-votre-soiree/">Quel est le tarif d'un groupe de musique pour votre soirée ?</a>
				</p>

				<p>
					<strong>Quelles sont les démarches administratives ?</strong> <br>
					<a href="https://www.jeremy-dutheil.fr/blog/devenir-intermittent-du-spectacle/" target="_blank">Intermittents du spectacle</a>, notre mode de fonctionnement préféré est <strong>le Guso</strong> ; il s'agit d'un service gratuit mis en place par l'état, afin de permettre l'embauche de musiciens de manière simplifiée. Nous vous accompagnons tout au long du processus, qui est très facile. Plus d'informations sur l'article suivant : <a href="https://www.jeremy-dutheil.fr/blog/comment-embaucher-un-musicien/">Comment embaucher un musicien ?</a> <br>
					Si vous ne pouvez (ou ne souhaitez) pas passer par le Guso, nous pouvons établir un contrat et une facture par l'intermédiaire d'une boîte de production. Dans ce mode de fonctionnement, l'intermédiaire prend un pourcentage et la TVA est également appliquée ; nous devrons donc facturer 10 % de frais supplémentaires.
				</p>

				<p>
					<strong>Quels modes de règlement sont disponibles ?</strong> <br>
					Vous réglez comme vous préférez : chèque, virement bancaire ou liquide.
				</p>

				<p>
					<strong>Où vous déplacez vous ?</strong> <br>
					Nous sommes basés en région parisienne, mais nous déplaçons dans toute la France ; en fonction du lieu de votre événement, nous devrons facturer les frais de déplacements occassionnés. Il est parfois également nécessaire de prévoir un hébergement ; vous serez bien entendu prévenu dès l'établissement d'un devis.
				</p>

				<p>
					<strong>Possédez vous le matériel de sonorisation ?</strong> <br>
					Nous sommes autonomes en matériel de sonorisation jusqu'à <strong>300 personnes</strong> environ. Suivant le lieu de votre événement, nous optons plutôt pour une sonorisation légère (voir parfois en acoustique), ou alors pour un système plus complet. Nous en discuterons avant votre soirée, afin de nous adapter au mieux à vos besoins et vos envies.
				</p>

				<p>
					<strong>Vous produisez vous dans le cadre d'événements organisés par des particuliers ?</strong> <br>
					Bien sûr ! Nos différents groupes de musique se produisent autant lors de soirées d'entreprises que d'événements particuliers (anniversaires, mariages, ...).
				</p>

				<p>
					<strong>Quelle place faut-il prévoir pour votre groupe de musiciens ?</strong> <br>
					Tout d'abord, la place nécessaire dépend du nombre de musiciens présents dans la formule retenue ; en solo ou duo, l'espace est réduit au minimum. Prévoyez de quoi installer 2 chaises, et un peu d'espace pour le mouvement des instruments et la sonorisation. Dans le cadre des formules trio ou quartet, il faudra bien entendu prévoir un peu plus de place pour les musiciens.
				</p>
			</div>
		</div>

		<div class="container">
			{{ include('utils/contact-cta.html.twig') }}
		</div>

		<div class="home-container-section">
			<h2 class="section-title section-title--centered">Animation musicale <small>Profitez de notre expérience</small></h2>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<div class="container">
				<p>
					Que vous soyez une entreprise ou un particulier, vous voulez que tout soit parfait lorsque vous organisez un événement ou une soirée. Il en va de votre image de marque dans un cas, de l'ambiance de votre soirée dans l'autre cas. Les étapes avant la réalisation de la soirée finale sont nombreuses, et le stress s'accumule forcément. Afin de voir vos envies se réaliser, et vous permettre d'être plus sereins, vous devez pouvoir vous appuyer sur des <strong>professionnels de l'événementiel</strong>.
				</p>

				<p>
					En tant que musiciens, <strong>l'animation musicale</strong> fait partie intégrante de notre métier, et nous avons acquis au fur et à mesure des années une expérience considérable. Aujourd'hui, il est essentiel pour nous de vous <strong>accompagner</strong> dans la réalisation de votre événement. Nous ne sommes pas simplement un <strong>groupe de musique</strong> qui vient jouer à votre soirée, mais bel et bien un partenaire. Nous pensons notamment à plusieurs points sur lesquels nous pouvons vous conseiller, et qui feront de l'animation musicale de votre soirée une réussite complète : 
				</p>

				<ul>
					<li><strong>Le répertoire</strong> : on ne s'attends pas à la même musique lorsqu'on organise un anniversaire entre amis, ou lorsqu'on gère un cocktail d'entreprise. Nos différents répertoires nous permettent de vous proposer plusieurs styles musicaux pour votre soirée, en particulier jazz et chanson française. Ces différents types de musique nous permettent de répondre à beaucoup de demandes, mais surtout de nous <strong>adapter</strong> au mieux à votre événement. De par les nombreuses prestations d'animation musicale que nous avons déjà effectué, nous sommes en même de vous guider sur les potentielles attentes de vos invités, en fonction de votre type de soirée. </li>
					
					<li style="margin-top: 10px;"><strong>Les musiciens</strong> : de la même manière que le choix du répertoire est essentiel, le choix d'un groupe de musique pour votre événement est très important également. Plusieurs critères sont à prendre en compte : voulez-vous plutôt une animation musicale discrète, ou quelque chose "qui envoie" ? De quelle place disposez vous pour l'installation des musiciens ? Souhaitez-vous créer une ambiance intimiste, ou à l'inverse digne des plus grands événements musicaux ?</li>
					
					<li style="margin-top: 10px;"><strong>La sonorisation</strong> : un aspect bien souvent négligé lors d'une animation musicale, et qui pourtant en conditionne le succès. Le volume de la musique lors de votre soirée ne doit être ni trop faible, ni trop fort. S'il est trop faible, dans le cadre d'une sonorisation insuffisante par exemple, alors vos invités seront déçus car ils devront tendre l'oreille pour écouter les musiciens. S'il est trop fort, vos invités seront alors dérangés dans leurs discussions et pourraient garder un souvenir désagréable de l'événement. Il est indispensable d'adapter au mieux la sonorisation en fonction du lieu, du nombre d'invités et du style de musique choisi. Nous sommes partisans du "moins de volume possible", tout en restant audible. C'est pourquoi nous utilisons quasi-systématiquement un système de sonorisation, qui sera réglé plutôt bas afin de ne pas déranger vos invités mais qu'ils nous entendent bien.</li>
					
					<li style="margin-top: 10px;"><strong>La place de la musique dans votre soirée</strong> : le déroulé de votre soirée est très important, et il faudra bien réfléchir en amont à la place de l'animation musicale au sein de celle-ci. S'agit il d'accueillir vos invités en musique, ou plutôt de proposer une musique d'ambiance lors du repas ? Est-ce que vous souhaitez placer les musiciens à l'endroit du buffet, ou plutôt créer un espace d'écoute réservé à la musique ? </li>
				</ul>

				<p>
					En tant que prestataires pour l'animation musicale de votre soirée, il est essentiel que nous puissions répondre à ces questions et vous décharger au maximum lors de l'organisation. À titre d'exemple, quelques autres critères indispensables à la réussite de votre événement : notre ponctualité, nos tenues, notre politesse, etc...
				</p>
			</div>
		</div>

		<div class="container">
			{{ include('utils/contact-cta.html.twig') }}
		</div>
	</section>


{% endblock %}
