{% extends 'base.html.twig' %}

{% block title %}Accordéoniste pour l'animation de votre soirée ou événement{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous êtes à la recherche d'un accordéoniste pour animer votre soirée ? Seul ou en groupe, découvrez mes formules sur mesure.">
{% endblock %}

{% block heading %}
	{{ parent() }}

	<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('beeybihz4kn4');
</script>
<!-- End of Async Drift Code -->
{% endblock %}

{% block body %}
	<style type="text/css">

	</style>

	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/flash-item-1.jpg" alt="" class="flash-item__background">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title">Accordéoniste pour animer votre soirée</h1>

			<div class="row">
				<div class="col-md-6">
					<p>
						Vous êtes à la recherche d'un <strong>accordéoniste pour animer votre soirée</strong> ? <a href="{{ path('animations_mariages') }}">Mariage</a>, fête entre amis sur le <a href="{{ path('guinguette') }}">thème "<i>Guinguette</i>"</a>, anniversaire, cocktail d'entreprise.. Les occasions sont nombreuses pour inviter un musicien, et l'accordéon s'adaptera facilement à tout type d'événement. Même si la tentation de réserver un <a href="{{ path('musiciens_soirees') }}">groupe de musique pour votre soirée</a> est souvent grande, les conditions ne sont parfois pas réunies pour pouvoir le faire (taille du lieu, considérations techniques, budget...).
					</p>

					<p>
						Pourquoi alors ne pas choisir d'accueillir un <strong>accordéoniste en solo</strong> ? L'accordéon est en effet un instrument riche et complet, tout à fait adapté pour l'animation musicale de votre soirée. Grâce à mes années de pratique, j'ai pu développer un répertoire dense et varié, qui me permet de vous proposer aujourd'hui une belle palette de <strong>styles musicaux</strong>. Des standards de jazz à la chanson française, en passant par la musique brésilienne ou le tango argentin, il y en aura pour tous les goûts !
					</p>

					<p>
						Avec une formule en solo, l'organisation de votre événement est grandement simplifiée ; les conditions techniques sont réduites au minimum, et il n'y a pas besoin de sonorisation la plupart du temps. Si cela s'avère nécessaire, je suis autonome et possède mon propre matériel de diffusion. L'espace nécessaire se résume à une chaise, qui peut se déplacer au cours de la soirée afin d'animer différents espaces.. (<i>Attention, je joue uniquement assis et ne propose donc pas de déambulation à proprement parler.</i>)
					</p>
				</div>

				<div class="col-md-6">
					<img class="img-fluid" src="img/accordeoniste_soiree.JPG" alt="Accordéoniste pour vos soirées">

					<p style="margin-top: 15px;">
						<a href="{{ path('contact') }}" class="btn btn-primary">Une question ? Un devis ? Contactez-moi !</a>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>
						Si vous cherchez une formation musicale plus fournie, je vous propose de regarder notre <a href="{{ path('manouche') }}">groupe de jazz manouche</a>, avec lequel nous proposons des formules du duo (accordéon / guitare) au quartet (accordéon / 2 guitares / contrebasse).
					</p>
				</div>
			</div>

			<!--
			<img style="max-width: 50%; display: block; margin: auto; margin-bottom: 20px;" class="img-fluid" src="img/videos-pic.jpg" alt="Jérémy Dutheil, accordéoniste pour animer soirée" title="Recherche accordéoniste pour animer soirée">
			-->

			<h2 class="section-title section-title--small">Des styles musicaux variés</h2>

			<p>
				L'accordéon, tout comme le piano, est un instrument parfaitement adapté à l'expression musicale en solo ; riche et complexe, il permet à l'accordéoniste non seulement de jouer les mélodies, mais également de s'accompagner soi-même. Souvent rangé dans la case "<i>musette</i>", on peut pourtant l'entendre dans de nombreux styles musicaux dans lesquels il s'intègre parfaitement. Choisir un <strong>accordéoniste pour votre soirée</strong> vous permettra d'offrir un répertoire complet et varié à vos invités.
			</p>

			<h3 class="section-title section-title--smaller">Accordéon jazz : classe et élégance</h3>

			<p>
				Vous cherchez un accordéoniste qui sortira des sentiers battus, proposant une musique chic et raffinée. Pour une musique d'ambiance lors de votre soirée, le jazz à l'accordéon est un choix idéal ! Moins coûteux à déplacer qu'un piano, plus original et pourtant tout aussi intéressant. Au son des standards de <i>jazz</i>, de Duke Ellington à Charlie Parker, laissez vous séduire par un son feutré et tout en retenue.
			</p>

			<p>
				Discret, l'accordéon jazz apportera à votre soirée une touche de classe et d'élégance, tout en surprenant vos invités ! Cette formule est particulièrement adaptée pour le vin d'honneur de votre mariage, ou pour le cocktail de votre entreprise... Loin des clichés de l'instrument, un <strong>accordéoniste jazz</strong> plaira à toutes les générations !
			</p>

			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mv3DgoYPCds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<p>
						<strong>Accordéon Jazz - Quelques titres pour l'exemple</strong>
					</p>

					<ul>
						<li>
							Stella by Starlight
						</li>

						<li>
							All of Me
						</li>

						<li>
							How high the Moon
						</li>

						<li>
							Billie's Bounce
						</li>

						<li>
							Autumn Leaves
						</li>

						<li>
							Body and Soul
						</li>

						<li>
							There will never be another you
						</li>

						<li>
							On the sunny side of the street
						</li>

						<li>
							Saint James Infirmary
						</li>

						<li>
							All the things you are
						</li>
					</ul>
				</div>
			</div>



			<h3 class="section-title section-title--smaller">Guinguette et Chanson française : souvenirs participatifs</h3>

			<p>
				Instrument roi des années 30, l'accordéon peut à lui seul recréer une ambiance "guinguette" et "rétro" pendant votre soirée. Entre valses <i>swing</i> et grands standards de la chanson française (Brel, Aznavour, Piaf, ...), vous verrez une joyeuse nostalgie s'emparer de vos invités. Aujourd'hui, ce genre de soirées "rétro" (pourquoi pas aussi s'habiller comme à l'époque ?) est très tendance, et la guinguette revient en force. Vous pouvez décider d'en faire le thème principal de votre soirée, ou pourquoi pas simplement réserver un petit espace hors du temps quelque part sur le lieu de l'événement.
			</p>

			<p>
				Un <strong>accordéoniste à votre soirée</strong> pourra alors tour à tour vous faire danser (valses swing, standards musette, ...), chanter (La Foule, Champs Elysées, Vesoul, ...) ou encore découvrir de nouveaux morceaux dans le style que vous n'aviez peut-être jamais entendu ! <br>
				Cette formule sera particulièrement adaptée pour un anniversaire, une fête entre amis ou un repas convivial.
			</p>

			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-md-6">
					<p>
						<strong>Accordéon guinguette : quelques titres pour l'exemple</strong>
					</p>

					<ul>
						<li>
							Le balajo
						</li>

						<li>
							Indifférence
						</li>

						<li>
							Champs Elysées
						</li>

						<li>
							La Foule
						</li>

						<li>
							La bohème
						</li>

						<li>
							Ménilmontant
						</li>

						<li>
							Que reste t'il de nos amours
						</li>

						<li>
							La vie en rose
						</li>

						<li>
							Emmenez-moi
						</li>

						<li>
							Minor Swing
						</li>

						<li>
							Un mauvais garçon
						</li>

						<li>
							Un clair de lune à Maubeuge
						</li>
					</ul>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/od3lmo26AaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<h3 class="section-title section-title--smaller">Musique du monde : à la découverte d'un répertoire</h3>

			<p>
				Surtout connu pour son succès français, l'accordéon est pourtant présent dans la plupart des cultures dans le monde. Du <i>forro</i> brésilien au <i>tango</i> argentin, en passant par la musique balkanique et le klezmer, de nombreux morceaux peuvent vous étonner et donner un caractère "exotique" à l'animation. Plutôt qu'une formule à part entière, ce répertoire s'intègrera plutôt sous forme de quelques morceaux dans les répertoires plus classiques, surprenant à nouveau vos invités !
			</p>

			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-sm-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8eY4FsHf7g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<h3 class="section-title section-title--smaller">Un exemple de répertoire à l'accordéon pour votre soirée</h3>

			<p>
				Vous êtes à la recherche d'un accordéoniste, voici quelques titres auxquels vous pouvez vous attendre lors de votre soirée :
			</p>

			<div class="row">
				<div class="col-sm-6">
					<img src="{{ asset('img/anim.jpg') }}" alt="Accordéoniste en soirée" title="Jérémy Dutheil, accordéoniste pour soirées" class="img-fluid page-section__img" style="max-width: 50%;">
				</div>

				<div class="col-sm-6">
					<ul>
						<li>
							Les feuilles mortes
						</li>

						<li>
							La Foule
						</li>

						<li>
							All of Me
						</li>

						<li>
							Minor Swing
						</li>

						<li>
							Sous le ciel de Paris
						</li>

						<li>
							Aux Champs Elysées
						</li>

						<li>
							Mon amant de Saint Jean
						</li>

						<li>
							Sunny side of the Street
						</li>

						<li>
							Emmenez moi
						</li>

						<li>
							Ménilmontant
						</li>

						<li>
							Les copains d'abord
						</li>

						<li>
							<i>Et bien d'autres...</i>
						</li>
					</ul>
				</div>
			</div>

			<h2 class="section-title section-title--small" style="margin-top: 25px;">Ils m'ont fait confiance</h2>

			{% include 'partners.html.twig' %}

			<hr>

			<script src="https://apps.elfsight.com/p/platform.js" defer></script>
			<div class="elfsight-app-ec309407-5635-4d34-a076-6f44bf20acc8 reviews"></div>

			<hr style="background-color: #2d2d2d; margin: 25px 0;">

			<h2 class="section-title section-title--small" style="margin-top: 25px;">Prestation sur mesure pour votre soirée</h2>

			<p>
				Loin d'être des formules immuables, les différentes propositions affichées sur cette page sont des exemples d'animations musicales et d'orientations possibles pour votre soirée avec l'accordéon. En tant que musicien professionnel, je m'adapte à vos envies tout en vous conseillant au mieux possible ; notre but est le même, faire de votre soirée un moment d'exception !
			</p>

			<p>
				Pour démarrer une première discussion et obtenir plus de renseignements, n'hésitez pas à me contacter ; vous pouvez également consulter la page des <a href="{{ path('animations') }}">animations musicales</a> pour découvrir d'autres possibilités (notamment avec un <a href="{{ path('manouche') }}">groupe de jazz manouche</a>).
			</p>

			<h2 class="section-title section-title--small" style="margin-top: 25px;">Quelques exemples de propositions</h2>

			<p>
				<strong>* Je cherche un accordéoniste pour un dîner d'entreprise à Paris, ambiance repas d'affaire.</strong> <br>
				Dans ce cadre, je vous proposerais de partir sur la formule <i>accordéon jazz</i> ; entre 2 et 4h de prestation, plutôt calme et discret. La musique est présente pour l'ambiance, mais laisse tout de même place aux discussions des invités. Dans ce cadre, notre duo accordéon / guitare pourrait également tout à fait convenir, tout en restant abordable.
			</p>

			<p>
				<strong>* Nous organisons une fête entre amis, et sommes à la recherche d'un accordéoniste pour le début de soirée.</strong> <br>
				Ici, l'accordéon se fait plus présent et invite au chant ou à la danse ; ambiance guinguette avec de la chanson française (instrumentale), mais aussi quelques standards de swing et jazz manouche. Je peux également venir accompagné d'une chanteuse pour ce type d'événements.
			</p>

			<p>
				<strong>* Mon entreprise organise un cocktail sur un thème "guinguette", et je cherche un accordéoniste pour l'animation musicale.</strong> <br>
				Lors d'un cocktail d'entreprise, je préconise un mélange des genres : quelques airs de chanson française connus (instrumental à l'accordéon), mais également du jazz et swing qui donneront une touche très classe. Ambiance années 50 garantie !
			</p>

			<p>
				<a href="{{ path('contact') }}" class="btn btn-primary">Parlez moi de votre propre projet !</a>
			</p>
		</div>
	</section>

{% endblock %}
