{% extends 'base.html.twig' %}

{% block title %}
	Accordéoniste - Paris - Biographie - Jazz et chanson française
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Découvrez la biographie de Jérémy Dutheil, accordéoniste jazz et chanson française basé sur Paris">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<picture>
				<source type="image/webp" srcset="{{ asset('img/bio-flash-new.webp') }}">
				<source type="image/jpeg" srcset="{{ asset('img/bio-flash-new.jpg') }}">
				<img src="img/bio-flash-new.jpg" alt="Jérémy Dutheil - Accordéoniste à Paris" class="flash-item__background" style="top: -250px;">
			</picture>
		</div>
	</section>

	<section class="flash-ghost "></section>

	<section class="content-section bg--blank page-section">
		<div class="container bg--blank">
			<h1 class="section-title">Accordéoniste professionnel, Paris</h1>

			<div class="row">
				<div class="col-sm-8">
					<h2 class="section-title section-title--small">Parcours</h2>

					<div>
						<p>
							Bercé par la musique, Jérémy prend ses premières leçons d'accordéon dès l'âge de 4 ans ; suivant une formation complète comprenant également du solfège, il apprend à déchiffrer les notes sur une partition avant de savoir lire et écrire. Suivant des cours réguliers avec plusieurs professeurs durant toute sa scolarité, Jérémy participe à plusieurs concours ACF (<em>Accordéon Club de France</em>) et à des stages au <a href="http://www.cnima.com" class="text-link">CNIMA</a> (<em>Centre National et International de Musique et d'Accordéon</em>), sous la direction de son célèbre directeur Jacques Mornet.<br>
							En parralèle, Jérémy s'intéresse également au <strong>piano</strong> et à <strong>la guitare</strong>, instruments qu'il pratique toujours aujourd'hui.
						</p>

						<p>
							Après le lycée, la musique s'efface quelque temps afin de permettre à Jérémy de poursuivre des études supérieures ; il intègre l'<a href="http://www.utc.fr" class="text-link">UTC</a> (<em>Université de Technologie de Compiègne</em>), où il suit des études d'ingénieurs en informatique ; il en profite alors pour s'investir dans le <strong>milieu associatif</strong>, et oeuvre notamment pour promouvoir les actions artistiques au sein de l'école. Une fois son diplôme obtenu en 2014, il décide de quitter cette casquette scientifique et de vivre de <strong>sa passion</strong> à temps plein, s'installant proche de <strong>Paris</strong>, en Ile de France.
						</p>

						<p>
							C'est également à cette époque qu'il commence à s'intéresser <strong>au jazz</strong>, ainsi qu'aux <strong>musiques improvisées</strong> d'une manière générale ; aujourd'hui, Jérémy suit encore des cours avec l'accordéoniste <a href="https://www.toucastriovasco.com/" class="text-link">Christian Toucas</a>, ainsi que des sessions de stage au <a href="http://www.cnima.com" class="text-link">CNIMA</a>.
						</p>

						<p>
							Fort de ces nombreuses expériences, Jérémy possède une <strong>formation musicale complète</strong> (solfège, rythme, ...) mais aussi une capacité d'<strong>improvisation</strong> et une sensitibilité à de nombreux <a href="#" class="text-link">styles musicaux</a> (jazz, musique brésilienne, klezmer, ...). <br>
							C'est sur scène et dans <a href="{{ path('collaborations') }}">ses différents projets</a> qu'il met à profit ses connaissances, et propose des arrangements modernes et originaux, provenant de nombreuses <strong>influences</strong> (dont des <a href="https://www.jeremy-dutheil.fr/blog/10-accordeonistes-francais-incontournables/">accordéonistes français incontournables</a>).
						</p>
					</div>
				</div>

				<div class="col-sm-4 page-section__content-wrapper">
					<div>
						<picture>
							<source type="image/webp" srcset="{{ asset('img/solo-anims-paris.webp') }}">
							<source type="image/jpeg" srcset="{{ asset('img/solo-anims-paris.jpg') }}">

							<img src="{{ asset('img/solo-anims-paris.jpg') }}" alt="" class="img-fluid page-section__img">
						</picture>

						<picture>
							<source type="image/webp" data-srcset="{{ asset('img/videos-pic.webp') }}">
							<source type="image/jpeg" data-srcset="{{ asset('img/videos-pic.jpg') }}">

							<img data-src="{{ asset('img/videos-pic.jpg') }}" alt="Jérémy DUTHEIL, accordéoniste, en concert" class="img-fluid page-section__img lazyload" style="margin-top: 35px;">
						</picture>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<div class="row" style="margin-top: 15px;">
				<div class="col-sm-8">
					<h2 class="section-title section-title--small">Projets et styles musicaux</h2>

					<p>
						Aujourd'hui, Jérémy Dutheil évolue essentiellement dans les univers <strong>jazz</strong> et <strong>chanson française</strong>. Il participe entre autres à un spectacle hommage à Edith Piaf, <i>Rue La Môme</i>, et accompagne une jeune chanteuse auteure-compositrice, <i>Marie Pétrolette</i>. <br>
						Côté jazz, il est le leader d'un groupe de jazz manouche ; avec son comparse guitariste Solal Poux, ils se produisent essentiellement en duo mais sont parfois rejoints par d'autres instrumentistes (guitare rythmique, contrebasse). <br>
						À la croisée des deux univers, on retrouve notamment le groupe MimE, une formation atypique (Guitare, Accordéon, Orgue Hammond, Batterie) qui propose une chanson à textes portée par des arrangements jazz.
					</p>

					<p>
						Jérémy se produit en public dans toute la France avec ses différents projets, mais est également présent dans le secteur événementiel ; avec des formules en solo, duo et jusqu'au quartet, ils proposent <a href="{{ path('animations') }}">différentes prestations d'animation musicale</a> à destination des particuliers et professionnels.
					</p>
				</div>

				<div class="col-sm-4">
					<img src="{{ asset('img/bio-new.jpg') }}" alt="" class="img-fluid page-section__img">
				</div>
			</div>
			<!-- /.row -->

			<div class="row" style="margin-top: 25px;">
				<div class="col-sm-12">
					<h2 class="section-title section-title--small">Discographie</h2>

					<div class="row">
						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">Jérémy Dutheil & Solal Poux - Douce Ambiance (2020)</h3>

							<p>
								Premier album pour ce duo jazz manouche (accordéon / guitare) ; entièrement enregistré à la maison, avec les moyens du bord et en <i>live</i>. Disponible physiquement lors des concerts, et sur les plateformes numériques ; <a href="https://lnkfi.re/jdsp" target="_blank">cliquez ici</a> pour écouter.
							</p>
						</div>

						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/douceambiance.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/douceambiance.jpg') }}">

								<img data-src="{{ asset('img/douceambiance.jpg') }}" alt="Jérémy Dutheil & Solal Poux - Douce Ambiance" class="img-fluid lazyload">
							</picture>
						</div>
					</div>

					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/cidmarquis-jencreve.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/cidmarquis-jencreve.jpg') }}">

								<img data-src="{{ asset('img/cidmarquis-jencreve.jpg') }}" alt="Cid Marquis - J'en crève" class="img-fluid lazyload">
							</picture>
						</div>

						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">Cid Marquis - J'en crève (2019)</h3>

							<p>
								Un premier single pour une artiste qu'on voit plus souvent évoluer dans des projets "hommage" (Rue La Môme, Lizard Queen, ...). Jérémy signe ici les arrangements, et l'enregistrement de l'accordéon bien sûr !
							</p>
						</div>
					</div>

					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">Majid & Yano Tët - Est-ce ainsi que les hommes vivent (2018)</h3>

							<p>
								Un projet qui a beaucoup évolué au fil des années, et un album qui s'est construit sur assez longtemps également. Jérémy participe à l'enregistrement de certain titres, partageant l'accordéon sur l'album avec Maxime Vauthier (Tournée Générale).
							</p>
						</div>

						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/yanotet-estceainsi.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/yanotet-estceainsi.jpg') }}">

								<img data-src="{{ asset('img/yanotet-estceainsi.jpg') }}" alt="Madjid et Yano Tët - Est-ce ainsi que les hommes vivent" class="img-fluid lazyload">
							</picture>
						</div>
					</div>

					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/mariepetrolette-apois.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/mariepetrolette-apois.jpg') }}">

								<img data-src="{{ asset('img/mariepetrolette-apois.jpg') }}" alt="Marie Pétrolette - À pois !" class="img-fluid lazyload">
							</picture>
						</div>

						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">Marie Pétrolette - À pois (2018)</h3>

							<p>
								Encore une fois, la nécessité de sortir un EP pour donner l'idée, et figer une période sur le disque. Les textes de Marie Pétrolette nous parlent de la vie d'une jeune femme ordinaire dans le monde d'aujourd'hui. Tantôt coquins, tantôt cyniques, souvent avec humour... <br>
								Jérémy réalise ici les arrangements, et l'enregistrement de l'accordéon.
							</p>
						</div>
					</div>

					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">MimE - MimE à Deux (2018)</h3>

							<p>
								MimE, c'est un groupe qui joue en duo (accordéon / voix) et en quartet (rejoints par l'orgue Hammond et la batterie). Ici, il s'agissait de produire un premier EP à deux, pour donner l'idée. Juste 3 morceaux, en toute intimité, mais qui représentent bien l'univers de ce projet. <br>
								Jérémy a participé aux arrangements, et à  l'enregistrement de l'accordéon sur ce disque.
							</p>
						</div>

						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/mime-mime.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/mime-mime.jpg') }}">

								<img data-src="{{ asset('img/mime-mime.jpg') }}" alt="MimE - MimE à deux" class="img-fluid lazyload">
							</picture>
						</div>
					</div>

					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/l1consolable-laugmentation.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/l1consolable-laugmentation.jpg') }}">

								<img data-src="{{ asset('img/l1consolable-laugmentation.jpg') }}" alt="L'1nconsolable - L'augmentation" class="img-fluid lazyload">
							</picture>
						</div>

						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">L'1nconsolable - L'augmentation (2018)</h3>

							<p>
								L'augmentation, un album dont vous êtes le héros ! La marque de fabrique de l'1nconsolable, c'est de produire des albums originaux, avec des concepts très forts. Ici, le nombre de titres présents ne permet même pas la gravure sur CD et pour cause.. C'est en réalité un album interactif auquel vous avez droit, où une question est posée à la fin de chaque morceau. Suivant votre réponse, vous serez alors orienté vers l'une ou l'autre des autres chansons, créant votre propre parcours à chaque écoute... <br>
								Jérémy a enregistré son accordéon sur plusieurs morceaux de l'album.
							</p>
						</div>
					</div>

					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">Zoulouzbek Band - Cousins, Cousines (2017)</h3>

							<p>
								Un album particulier que celui des Zoulouzbek Band, car ils réunissent ici un bon nombre d'amis musiciens croisés sur les routes pendant leurs années de tournée. Jérémy y participe avec MimE, qui signe une composition sur l'album : "Le bistrot des copains".
							</p>
						</div>

						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/zoulouzbekband-cousinscousines.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/zoulouzbekband-cousinscousines.jpg') }}">

								<img data-src="{{ asset('img/zoulouzbekband-cousinscousines.jpg') }}" alt="Zoulouzbek Band - Cousins, Cousines" class="img-fluid lazyload">
							</picture>
						</div>
					</div>

					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-4">
							<picture>
								<source type="image/webp" data-srcset="{{ asset('img/lesfilsdeflute-surnotrefil.webp') }}">
								<source type="image/jpeg" data-srcset="{{ asset('img/lesfilsdeflute-surnotrefil.jpg') }}">

								<img data-src="{{ asset('img/lesfilsdeflute-surnotrefil.jpg') }}" alt="Les Fils de Flûte - Sur notre fil" class="img-fluid lazyload">
							</picture>
						</div>

						<div class="col-sm-8">
							<h3 class="section-title section-title--smaller">Les Fils de Flûte - Sur notre fil (2012)</h3>

							<p>
								Le premier album des Fils de Flûte, dont Jérémy est l'un des membres fondateurs, sort à l'été 2012. Les trois musiciens proposent un opus basé uniquement sur des compositions, qu'ils ont ensemble écrit et composé. <br>
								Jérémy intervient donc ici au niveau des compositions et des arrangements, et au niveau de l'écriture sur quelques titres.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</section>
{% endblock %}
