{% extends 'base.html.twig' %}

{% block title %}
	Animation musicale pour soirée d'entreprise - Jazz - Chanson
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous cherchez une animation musicale pour votre soirée d'entreprise ? Découvrez nos groupes jazz et chanson, formules sur mesure.">
{% endblock %}


{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/manouchebg.webp',
																				 'jpeg': 'img/manouchebg.jpg'
																			   },
																	'default': 'img/manouchebg.jpg',
																	'lazyload': false,
																	'alt': 'Un groupe de jazz manouche pour vos événements - Avec accordéon',
																	'title': 'Un groupe de jazz manouche pour vos événements - Avec accordéon',
																	'class': 'flash-item__background',
																	'style': 'top: -50%;' } %}
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title">Animation musicale pour votre soirée d'entreprise</h1>

			{{ include('utils/contact-cta.html.twig') }}

            <div class="row">
				<div class="col-md-6">
					<p>
                        Une soirée d'entreprise est un événement unique, qui vous permettra de fidéliser et valoriser vos collaborateurs et clients. Une telle soirée doit refléter votre <strong>image de marque</strong>, et s'accompagner de prestations professionnelles haut de gamme. L'animation musicale de votre soirée d'entreprise est l'un des points clefs de cet événement.
                    </p>

                    <p>
                        L'organisation de votre <strong>soirée d'entreprise</strong> n'est pas une chose facile ; du traiteur au photographe, en passant par les musiciens ou le lieu de l'événement... Ce sont autant de détails qu'il va falloir gérer, avec une période de préparation plus ou moins longue.
                    </p>

                    <p>
                        Nous vous proposons des formules sur mesure pour l'<strong>animation musicale</strong> de votre soirée d'entreprise. Nous sommes là pour vous accompagner, et vous guider de A à Z. Non seulement, nous vous proposons un <a href="{{ path('musiciens_soirees') }}" style="color: #555555;"><b>orchestre professionnel</b> pour votre soirée</a>, mais nous sommes également présents pour vous <strong>conseiller</strong>. Notre expérience en tant que prestataire événementiel nous permet de vous orienter au mieux sur la partie <strong>animation musicale</strong>, et de vous garantir une soirée exceptionnelle !
                    </p>
				</div>

				<div class="col-md-6 d-none d-md-block">
					{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/swingcocktail2.webp',
																				 'jpeg': 'img/swingcocktail2.jpg'
																			   },
																	'default': 'img/swingcocktail2.jpg',
																	'lazyload': true,
																	'alt': 'Trio jazz avec chanteur pour vos événements',
																	'title': 'Trio jazz avec chanteur pour vos événements',
																	'class': 'img-fluid' } %}

				</div>
			</div>

			{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'CXq4DWhwqSU', 'title': 'Trio jazz manouche - Accordéon / Guitare / Contrebasse' } %}

			<p class="text-center" style="margin-top: 15px;">
				Quelques extraits en trio jazz manouche : Bossa Dorado, Autumn Leaves, All of Me, All the things you are, Fly me to the Moon
			</p>

            <h2 class="section-title section-title--small" style="margin-top: 15px;">Quel style d'animation musicale pour votre soirée d'entreprise ?</h2>

            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    {% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/crillon.webp',
																				 'jpeg': 'img/crillon.jpg'
																			   },
																	'default': 'img/crillon.jpg',
																	'lazyload': true,
																	'alt': 'Trio jazz manouche à l\'Hôtel Le Crillon',
																	'title': 'Trio jazz manouche à l\'Hôtel Le Crillon',
																	'class': 'img-fluid' } %}
                </div>

                <div class="col-md-6">
                    <p>
                        Avant de choisir un <strong>groupe de musiciens</strong> pour votre soirée d'entreprise, il convient tout d'abord de se poser quelques questions. Avez vous défini <strong>un thème</strong> pour votre soirée ? En tant qu'accordéoniste, je suis par exemple régulièrement contacté pour intervenir dans le cadre de soirées d'entreprise sur le thème guinguette.
                    </p>

                    <p>
                        Un thème, même s'il n'est pas obligatoire, donnera une véritable identité à votre soirée d'entreprise. C'est un vrai plus, qui permet également de relier les différentes animations entre elles et proposer un univers cohérent. Dépaisement assuré ! Quelques idées de thème pour votre soirée d'entreprise : soirée guinguette, les années folles, Paris, ...
                    </p>

                    <p>
                        Vous devrez également réfléchir à <strong>la place des musiciens</strong> dans votre soirée ; s'agit-il d'animer discrètement un cocktail en début de soirée, ou plutôt de faire danser vos invités après le repas ? Souhaitez-vous quelque chose de participatif, comme un karaoké live par exemple, ou plutôt simplement d'une ambiance musicale ?
                    </p>

                    <p>
                        Ce sont à ces questions que nous répondrons <strong>ensemble</strong> si vous en ressentez le besoin. En fonction de vos envies, nous pourrons vous conseiller au mieux sur nos groupes de musiciens. Vous trouverez ci-dessous des exemples de prestation, mais nous travaillons également avec d'autres musiciens qui ne sont pas référencés sur cette page ; n'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> pour nous exposer votre projet.
                    </p>
                </div>
            </div>

            <h2 class="section-title section-title--small" style="margin-top: 15px;">Quelques vidéos pour votre animation musicale</h2>

            <div class="row">
				<div class="col-md-6" style="margin-bottom: 15px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': '-h2oJAjzAtg', 'title': 'Accordéon jazz - Sunny Side of the Street' } %}
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'W_uOwoGcBuE', 'title': 'La Foule - Duo jazz manouche (accordéon / guitare)' } %}
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'NIvIUJcluU0', 'title': 'Trio jazz manouche avec accordéon' } %}
				</div>

				<div class="col-md-6"  style="margin-bottom: 15px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'k9SY8saaY3I', 'title': 'Animation musicale avec chanteuse' } %}
				</div>
			</div>

            <h2 id="reviews" class="section-title section-title--small" style="margin-top: 15px;">Ils nous ont fait confiance</h2>

			{{ include('partners.html.twig') }}

			<hr>

			<script src="https://apps.elfsight.com/p/platform.js" defer></script>
			<div class="elfsight-app-ec309407-5635-4d34-a076-6f44bf20acc8 reviews"></div>

			<h2 class="section-title section-title--small" style="margin-top: 15px;">Jazz manouche pour votre soirée d'entreprise</h2>

			<div class="row">
				<div class="col-md-6">
					{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/jdspnormal.webp',
																				 'jpeg': 'img/jdspnormal.jpg'
																			   },
																	'default': 'img/jdspnormal.jpg',
																	'lazyload': false,
																	'alt': 'Jazz manouche pour votre soirée entreprise',
																	'title': 'Jazz manouche pour votre soirée entreprise',
																	'class': 'img-fluid page-section__img' } %}

					<p style="margin-top: 15px;">
						<a class="btn btn-primary" href="{{ path('manouche') }}">Plus d'informations <span class="d-none d-md-inline">sur le groupe jazz manouche</span></a>
					</p>
				</div>

				<div class="col-md-6">
					<p>
						Le jazz manouche, popularisé par Django Reinhardt et Stéphane Grappeli, est un style particulièrement demandé lors des soirées d'entreprise ; musique virtuose et très chic, elle conviendra plus particulièrement en <strong>début de soirée</strong> (cocktail, accueil des invités, ...). Nos formules (à partir de 2 musiciens) sauront s'adapter à tous les lieux, et tous les budgets !
					</p>

					<p>
						Notre groupe de musiciens jazz manouche propose un répertoire de standards, où la composante principale est le <em>swing</em> : <i>Minor Swing, All of Me, Les Yeux Noirs, ...</i>. Pour les soirées d'entreprise les plus intimistes, nous proposons une formule duo originale : accordéon et guitare ! À partir de cette formule, nous ajoutons d'autres instruments, rythmiques et mélodiques, suivant vos ennvies : contrebasse, seconde guitare, violon, ... Nous proposons entre 2 et 4h de musique, et sommes autonomes en matériel de sonorisation.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6" style="margin-bottom: 15px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'W_uOwoGcBuE', 'title': 'La Foule - Duo jazz manouche (accordéon / guitare)' } %}
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'CXq4DWhwqSU', 'title': 'Trio jazz manouche - Accordéon / Guitare / Contrebasse' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'NIvIUJcluU0', 'title': 'Trio jazz manouche avec accordéon' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'pmZ80dJklu0', 'title': 'Trio jazz manouche avec accordéon' } %}
				</div>
			</div>

            <h2 class="section-title section-title--small" style="margin-top: 15px;">Chanson française - Esprit guinguette</h2>

			<p>
				Aujourd'hui, la <strong>chanson française</strong> parle à toutes les générations, de 7 à 77 ans... Pas question ici de tomber dans le cliché "ringard" ! On replonge bien sûr dans les années 30, mais dans un esprit chic et raffiné.
			</p>

            <p>
                Nous proposons des animations musicales autour de la chanson française et du <a href="{{ path('guinguette') }}">style guinguette</a>, à partir du <strong>duo (accordéon / voix)</strong> ; de Piaf à Brel, en passant par Aznavour ou encore Odette Laure, il y en a pour tous les goûts... <br>
			</p>

            <p>
                Style musicale "passe partout", la chanson française saura s'adapter poour tout type de soirée d'entreprise. Tantôt discret lors du début de soirée, elle peut également se faire <strong>dansante et festive</strong> après le repas ! Vos invités apprécieront sans aucun doute reconnaître de nombreux airs, voir même d'en chanter certains...
            </p>

            <div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-md-6" style="margin-bottom: 10px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'k9SY8saaY3I', 'title': 'Animation musicale avec chanteuse' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'zCgfywiTWKs', 'title': 'Animation musicale avec chanteur' } %}
				</div>
			</div>

			<h2 class="section-title section-title--small" style="margin-top: 15px;">Orchestre sur mesure</h2>

			<p>
				Sur cette page, et sur la page <a href="{{ path('animations') }}">dédiée aux animations musicales</a>, nous vous proposons des formations et répertoires à titre d'exemple. Rien n'est figé, et toutes nos prestations musicales se font <strong>sur mesure</strong>. Nous pouvons par exemple venir en trio autour de la chanson française, avec une chanteuse, un accordéoniste et un guitariste. Selon votre budget, ces formules peuvent encore s'enrichir d'autres instrumentistes, menant à des groupes de musiciens plus complets. N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> pour en discuter !
			</p>

			<p>
				Je travaille également avec de nombreux musiciens professionnels, qui peuvent vous proposer d'autres styles musicaux : groupe de <strong>soul / funk</strong>, ambiance <strong>pop / folk</strong>, jazz plus traditionnel... Ces différents groupes de musique sauront s'adapter à <strong>tout type de soirée</strong>, n'hésitez pas à m'envoyer un message pour vous guider dans vos recherches !
			</p>

			{{ include('utils/contact-cta.html.twig') }}
        </div>
		<!-- /.container -->
	</section>

	<!-- Start of Async Drift Code -->
	<script defer>
	"use strict";

	!function() {
	var t = window.driftt = window.drift = window.driftt || [];
	if (!t.init) {
		if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
		t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
		t.factory = function(e) {
		return function() {
			var n = Array.prototype.slice.call(arguments);
			return n.unshift(e), t.push(n), t;
		};
		}, t.methods.forEach(function(e) {
		t[e] = t.factory(e);
		}), t.load = function(t) {
		var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
		o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
		var i = document.getElementsByTagName("script")[0];
		i.parentNode.insertBefore(o, i);
		};
	}
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('beeybihz4kn4');
	</script>
	<!-- End of Async Drift Code -->
{% endblock %}
