{% extends 'base.html.twig' %}

{% block title %}
	Groupe de jazz manouche pour vos événements - Mariage, Soirée, Cocktail
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Groupe de jazz manouche professionnel pour vos événements : soirée, cocktail, mariage. Du duo au quartet !">
{% endblock %}

{% block heading %}
	{{ parent() }}

	<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('beeybihz4kn4');
</script>
<!-- End of Async Drift Code -->
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/manouchebg.jpg" alt="Un groupe de jazz manouche pour vos événements - Avec accordéon" class="flash-item__background" style="top: -50%;">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container bg--blank">
			<h1 class="section-title">
				Groupe jazz manouche pour vos événements <br>
				<small>Orchestre sur mesure, musique de qualité</small>
			</h1>

			<p>
				<a href="{{ path('contact') }}" class="btn btn-primary">Contactez nous pour un devis gratuit</a>
			</p>

			<p>
                Vous recherchez un <strong>groupe de jazz manouche</strong> pour votre soirée privée, <a href="{{ path('groupe_jazz_manouche_mariage_paris') }}">mariage</a>, anniversaire, cocktail d'entreprise ou tout autre événement ? Vous avez fait le tour des sites qui proposent une <strong>recherche de musiciens</strong> et ne savez pas qui choisir ? Vous êtes au bon endroit ! <strong>Musiciens professionnels</strong> et expérimentés, nous vous proposons différentes formules (duo, trio, quartet, ...), toutes sur mesure, pour une animation musicale de qualité lors de votre événement.
			</p>

			<p>
				Nous nous produisons aussi bien lors de concerts en public, que lors d'<strong>événements d'entreprise et soirées privées</strong>. Vous trouverez sur cette page de nombreuses vidéos de notre groupe jazz manouche, ainsi que <a href="#reviews">des avis</a> qui décrivent la qualité de nos animations musicales.
			</p>

			<!--<div class="row">
				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGGrRG-q4VU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CWUY-repj8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u8re-Ba8RQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 15px;">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NIvIUJcluU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>-->

			<p>
				Vous trouverez ci-dessous des informations sur nos prestations en tant qu'orchestre jazz manouche. Pour tout renseignement complémentaire, ou pour établir un devis, n'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a>.
			</p>

			<!--<p>
				Enfin, les premiers paragraphes que vous pouvez lire sur cette page sont des informations d'ordre général sur votre événement et le style musical jazz manouche ; pour nous entendre / voir directement, et avoir une idée de ce que nous proposons, vous pouvez cliquer sur le bouton ci-dessous :
			</p>

			<p>
				<a href="#formules" class="btn btn-primary">Voir nos formules jazz manouche</a>.
			</p>-->

			<h2 class="section-title section-title--small">Votre événement</h2>

			<div class="row">
				<div class="col-md-6">
					<p>
						L'organisation d'un événement n'est jamais chose facile, d'autant que le temps manque souvent. Régler les derniers préparatifs d'un mariage, s'assurer d'une soirée d'entreprise réussie, définir le thème d'une soirée privée... Autant d'éléments stressants qu'il vous faut gérer, et qui s'avèrent parfois compliqués.
					</p>

					<p>
						Trouver un <a href="{{ path('musiciens_soirees') }}">groupe de musique</a> peut se révéler une tâche chronophage ; à l'heure d'internet, les propositions sont nombreuses et il est difficile de faire un choix. En tant que professionnels expérimentés, notre but est de vous <strong>faciliter</strong> toutes ces démarches ; nous pouvons prendre en charge l'animation musicale de votre soirée de A à Z. Nous vous proposons ici différentes formules types (toutes avec un <a href="{{ path('accordeon_jazz_manouche') }}">accordéoniste jazz manouche</a> bien sûr !), que vous pouvez modifier à votre guise pour créer votre <strong>orchestre jazz manouche</strong> sur mesure. Bien entendu, nous vous conseillerons en fonction du lieu que vous avez choisi, du nombre de personnes attendues à votre événement et de votre budget.
					</p>

					<p>
						Autonomes en matériel de sonorisation, notre <strong>groupe de jazz manouche</strong> prend également en charge la totalité de l'aspect technique ; vous n'avez plus qu'à apprécier votre soirée en profitant d'une musique d'ambiance chic et élégante.
					</p>
				</div>

				<div class="col-md-6">
					<img class="img-fluid" src="img/crillon.jpg" alt="Trio jazz manouche à l'Hôtel Le Crillon">
				</div>
			</div>

			<h2 class="section-title section-title--small">Le jazz manouche</h2>

			<div class="row">
				<div class="col-md-6">
					<img class="img-fluid" src="img/swingcocktail2.png" alt="Trio jazz avec chanteur pour vos événements">
				</div>

				<div class="col-md-6">
					<p>
						Retrouvez l'ambiance des années 30 lors de votre soirée avec notre <strong>orchestre jazz manouche</strong>, au son des standards du style popularisé par Django Reinhardt et Stéphane Grappelli. La guitare se fait tantôt rythmique, tantôt soliste, la contrebasse enchaîne les <i>walking bass</i>, l'accordéon s'envole par moments.. Le jazz manouche, musique virtuose s'il en est, apportera à votre réception une touche <i>vintage</i>, mais surtout très chic.
					</p>

					<p>
						Vous avez forcément déjà entendu des morceaux comme <i>Minor Swing</i> ou <i>Les Yeux Noirs</i> ; intemporels, ils sont repris encore aujourd'hui dans presque tous les concerts de <strong>jazz manouche</strong>. Mais connaissez-vous des airs moins entendus, comme <i>Anniversary Song</i> ou <i>Lulu Swing</i> ? Notre répertoire balaie le style jazz manouche, des grands standards aux morceaux plus traditionnels et moins connus ; nous faisons également quelques incursions dans le jazz plus "classique", avec par exemple des reprises de Charlie Parker (<i>Billie's Bounce</i>, <i>Donna Lee</i>) ou Duke Ellington (<i>It don't mean a thing</i>, <i>Caravan</i>).
					</p>
				</div>
			</div>

			<h2 id="reviews" class="section-title section-title--small">Ils nous ont fait confiance</h2>

			<div class="partners">
				<img src="{{ asset('img/vinci.png') }}" alt="Vinci" style="max-height: 100px; margin-right: 25px;">
				<img src="{{ asset('img/audiens.png') }}" alt="Audiens" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/lebarn.svg') }}" alt="Hôtel Le Barn" style="max-width: 100px; max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/terremer.png') }}" alt="Restaurant Terre & Mer" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/greatweddings.jpeg') }}" alt="Great Weddings in France" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/bistrochamps.png') }}" alt="Le Bistro des Champs" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/lamarlotte.png') }}" alt="La Marlotte" style="max-height: 60px; margin-right: 25px;">
				<img src="{{ asset('img/venteprivee.png') }}" alt="vente-privee.com" style="max-height: 100px; margin-right: 25px;">
				<img src="{{ asset('img/crillonlogo.png') }}" alt="Hôtel Le Crillon" style="max-height: 60px; margin-right: 25px;">
			</div>

			<hr>

			<script src="https://apps.elfsight.com/p/platform.js" defer></script>
			<div class="elfsight-app-ec309407-5635-4d34-a076-6f44bf20acc8 reviews"></div>

			<hr style="background-color: #2d2d2d; margin: 25px 0;">

			<h2 class="section-title section-title--small">Notre groupe jazz manouche en vidéo</h2>

			<div class="row">
				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W_uOwoGcBuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CXq4DWhwqSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NIvIUJcluU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pmZ80dJklu0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr style="background-color: #2d2d2d; margin: 25px 0;">

			<span id="formules"></span>

			<h2 class="section-title section-title--small">Nos groupes de jazz manouche pour vos événements</h2>

            <h3 class="section-title section-title--smaller">Duo jazz manouche (accordéon / guitare) - Jérémy Dutheil & Solal Poux</h3>

			<div class="row">
				<div class="col-md-6">
					<p>
						Le duo jazz manouche est la formule intimiste par excellence ! L'accordéon et la guitare étant tous deux des instruments rythmiques et solistes, vous avez ici l'essence du jazz manouche sans aucun superflu. Les rôles s'alternent au sein des morceaux, et les solos s'enchaînent avec une grande dynamique.
					</p>

					<p>
						Acoustique ou sonorisé, les conditions techniques sont réduites au minimum ; plus facile à accueillir qu'un <strong>orchestre jazz manouche</strong>, notre duo trouvera très facilement sa place dans les plus petits lieux. L'ambiance musicale de votre soirée n'en restera pas moins très classe et élégante, alternant les balades langoureuses et les morceaux virtuoses.
					</p>

					<p>
						Habitués à jouer ensemble, nous proposons avec Solal Poux un répertoire très vaste, qui emprunte notamment à la chanson française et au jazz plus "traditionnel". Nous nous produisons aussi bien lors d'événements privés (cocktails, mariages, ..) que publics (festivals, salles, ..).
					</p>
				</div>

				<div class="col-md-6">
					<img src="img/manouchebg.jpg" alt="Jérémy Dutheil & Solal Poux" class="img-fluid">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W_uOwoGcBuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CWUY-repj8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u8re-Ba8RQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGGrRG-q4VU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iklby0R-WyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>


				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9b6zyj1e2cE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

            <h3 class="section-title section-title--smaller">Trio jazz manouche (accordéon / guitare / contrebasse)</h3>

			<p>
				Parmi nos <strong>groupes de jazz manouche</strong>, c'est la formule la plus courante et la plus "passe partout" ; la contrebasse vient ajouter une assise rythmique plus solide au duo, laissant plus grande liberté aux deux autres instrumentistes. Le trio reste facile et pratique à mettre en place pour votre événement, les conditions techniques étant limitées tout comme l'espace nécessaire.
				<br>
				On notera également l'apport visuel de la contrebasse (non négligeable), instrument emblématique du jazz manouche !
			</p>

			<p>
				Le répertoire balaie les grands standards du jazz manouche, de Django Reinhardt à Biréli Lagrène, et nous proposons en moyenne 3h de musique pour votre événement. L'improvisation, indispensable au style jazz manouche, rend la musique vivante ; les musiciens adaptent leur jeu en fonction du déroulement de votre soirée, tandis que les invités sont eux-mêmes influencés par l'ambiance musicale. C'est un cercle vertueux, qui induit une interaction (même implicite) très forte entre le public et le groupe de musique.
			</p>

			<p>
				Musique d'ambiance en fond sonore ou concert sur scène devant un public aguerri, notre <strong>trio jazz manouche</strong> saura s'adapter à toutes vos envies. Nous adaptons également notre répertoire en fonction de vos demandes, orientant la <i>setlist</i> vers plus de morceaux dans le style chanson française ou jazz traditionnel, par exemple.
			</p>

            <div class="row">
                <div class="col-md-12">
					<div class="embed-responsive embed-responsive-16by9">
                    	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CXq4DWhwqSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

                    <p class="text-center" style="margin-top: 15px;">
                        Quelques extraits en trio jazz manouche : Bossa Dorado, Autumn Leaves, All of Me, All the things you are, Fly me to the Moon
                    </p>
                </div>
            </div>

			<h3 class="section-title section-title--smaller">Trio jazz manouche (accordéon / 2 guitares)</h3>

			<p>
				La guitare est l'instrument emblématique de la musique de Django Reinhardt, tout comme <strong>la pompe</strong>, rythmique essentielle du style jazz manouche. Avec deux guitaristes, les rôles sont répartis : l'un s'occupe de la rythmique, et l'autre des solos. Ainsi, la pompe est toujours présente et l'énergie décuplée !
			</p>

			<p>
				Dans ce trio jazz manouche, on note bien sûr l'absence de contrebasse, qui est remplacée par la guitare rythmique ; les deux apportent des couleurs différentes, qui n'ont pas à s'envier l'une et l'autre. L'idéal étant bien sûr, si votre budget le permet, de s'orienter vers une formule en quartet où la guitare rythmique et la contrebasse sont présentes.
			</p>

			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NIvIUJcluU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pmZ80dJklu0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<!--<h3 class="section-title section-title--smaller" style="margin-top: 25px;">Trio jazz avec chanteur</h3>

			<p>
				Dans un esprit plus "jazz", une formule avec chanteur permet de revivre les années 30 de manière encore plus conviviale !
				Vidéo réalisée lors d'une prestation avec <a href="https://www.swingcocktail.com/" target="_blank">Swing Cocktail</a>.
			</p>

			<div class="row">
				<div class="col-md-12">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RfHo4ztPXhY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>-->

            <h3 class="section-title section-title--smaller" style="margin-top: 15px;">Quartet et plus</h3>

			<p>
				Vous cherchez un <strong>groupe de jazz manouche</strong> plus conséquent pour <strong>votre événement</strong> ? Nous proposons également des prestations en <strong>quartet</strong> et avec orchestre plus complet encore.
			</p>

			<p>
				Le premier instrument que nous conseillons est une <strong>seconde guitare</strong> qui assurera la rythmique ; <i>la pompe</i> est en effet un élément incontournable du jazz manouche. Grâce aux deux guitaristes, vous l'entendrez en permanence, même pendant les solos de guitare !
				<br>
				Pour assurer l'assise rythmique et harmonique, nous ajoutons également une <strong>contrebasse</strong> ; avec 2 guitares et une contrebasse, nous obtenons la formation classique du jazz manouche.
				<br>
				L'accordéon agit ici en tant qu'instrument mélodique principalement, et alterne les thèmes / chorus avec la guitare soliste.
			</p>

			<p>
				À partir de 5 personnes, on peut commencer à ajouter d'autres instruments mélodiques : violon (très présent dans le jazz manouche), saxophone, ... Suivant vos envies et vos goûts, toujours ! Pourquoi ne pas prendre une chanteuse de jazz également ?
			</p>

            <p>
                Bien sûr ce ne sont que des exemples, n'hésitez pas à nous contacter pour établir une formule sur mesure pour votre événement.
            </p>

            <h2 class="section-title section-title--small">Quelques titres du répertoire</h2>

            <ul>
                <li>
                    Minor Swing
                </li>

                <li>
                    Bossa Dorado
                </li>

                <li>
                    Ménilmontant
                </li>

				<li>
					Danube (Anniversary Song)
				</li>

				<li>
					Indifférence
				</li>

				<li>
					Lulu Swing
				</li>

                <li>
                    Sunny Side of the Street
                </li>

                <li>
                    Nuages
                </li>

				<li>
					Manoir de mes Rêves
				</li>

                <li>
                    All of Me
                </li>

                <li>
                    Autumn Leaves
                </li>

				<li>
					Them there eyes
				</li>

				<li>
					Blues mineur
				</li>

				<li>
					Daphné
				</li>

				<li>
					Cherokee
				</li>

				<li>
					I can't give you anything but love
				</li>

				<li>
					Made in France
				</li>

                <li>
                    <i>Et bien d'autres...</i>
                </li>
            </ul>

			<h2 class="section-title section-title--small">Plus d'informations ? Un devis gratuit ?</h2>

			<a href="{{ path('contact') }}" class="btn btn-primary">Contactez-nous !</a>
        </div>


    </section>
{% endblock %}
