<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('img/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('img/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('img/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <meta name="p:domain_verify" content="e81b1a9f19c14f139ea5655c3bee3b3d"/>

        <title>
            {% block title %}Accordéoniste à Paris - Musicien professionnel - Jazz - Chanson{% endblock %}
        </title>

        {% block metadesc %}
            <meta name="description" content="Accordéoniste à Paris, Jérémy Dutheil est disponible seul ou en groupe pour concerts et événements (mariages, soirées, cocktails). Répertoire jazz et chanson.">
        {% endblock %}

        <meta property="og:title" content="Accordéoniste professionnel, Paris | Jérémy Dutheil">
        <meta property="og:description" content="Jérémy Dutheil est accordéoniste professionnel à Paris, Ile de France">
        <meta property="og:image" content="http://www.jeremy-dutheil.fr/img/videos-pic.jpg">

        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">-->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {% block stylesheets %}{% endblock %}

        <meta name="google-site-verification" content="1PGa-HjhRJoyN5SLrUG5rKOh6chzypvwrtXmKVe7zBE" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57123259-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-57123259-1');
        </script>

        <script type="application/ld+json">
            {
             "@context" : "http://schema.org",
             "@type" : "Organization",
             "name" : "Jérémy Dutheil",
             "url" : "http://www.jeremy-dutheil.fr",
             "sameAs" : [
               "https://www.facebook.com/jeremydutheilaccordeoniste/",
              ],
            }
            </script>

        {% block canonical %}{% endblock %}

         <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=93ba5a01cf9aa' async='true'></script> 
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}"><span class="navbar-brand-span">J</span>érémy <span class="navbar-brand-span">D</span>UTHEIL</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Ouvrir le menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <style>
                .navbar-toggler-icon:before {
                    content:"Menu";
                    margin-left:-125px;
                    top:5px;
                    position:relative;
                    width:50px;
                }
                </style>

                {% set route = app.request.attributes.get('_route') %}

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a title="Jérémy Dutheil est un accordéoniste français, basé à Paris" class="nav-link dropdown-toggle {% if route == 'collaborations'
                                                  or route == 'duos'
                                                  or route == 'mime'
                                                  or route == 'marie'
                                                  or route == 'elena'
                                                  or route == 'groupes'
                                              or route == 'madjid'
                                          or route == 'ruelamome' or route == 'fdf'
                                      or route == 'bio' %}nav-link--active{% endif %}" href="#" id="about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accordéoniste
                            </a>

                            <div class="dropdown-menu" aria-labelledby="about">
                                <a class="dropdown-item" href="{{ path('bio') }}">Biographie</a>
                                <a class="dropdown-item" href="{{ path('collaborations') }}">Collaborations artistiques</a>
                            </div>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'videos' %}nav-link--active{% endif %}" href="{{ path('videos') }}">Vidéos</a>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == 'manouche' %}nav-link--active{% endif %}" href="{{ path('manouche') }}" title="Groupe de jazz manouche pour votre soirée"> Groupe jazz manouche</a>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == 'animations' %}nav-link--active{% endif %}"
                                href="{{ path('animations') }}" title="Trouver un musicien ou groupe de musique pour votre soirée (mariage, cocktail, événement)">
                                Vos événements
                            </a>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == 'contact' %}nav-link--active{% endif %}" href="{{ path('contact') }}" title="Me contacter">Contact</a>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == '/blog' %}nav-link--active{% endif %}" href="/blog/">Blog</a>
                        </li>

                        {% if app.user %}
                            <li><a href="{{ path("author_create") }}">Admin</a></li>
                            <li><a href="{{ logout_url("secured_area") }}">Logout</a></li>
                        {% endif %}

                        <li class="nav-item ">
                            <a title="Retrouvez moi sur Facebook" rel="nofollow" style="font-size: 24px;" class="nav-link" href="https://www.facebook.com/jeremydutheilaccordeoniste/" target="_blank"><i class="fab fa-facebook"></i></a>
                        </li>

                        <li class="nav-item">
                            <a title="Retrouvez moi sur Youtube" rel="nofollow" style="font-size: 24px;" class="nav-link" href="https://www.youtube.com/channel/UCTHC327qYeB34ri8Fgzubjw" target="_blank"><i class="fab fa-youtube"></i></a>
                        </li>

                        <li class="nav-item">
                            <a title="Retrouvez moi sur Soundcloud" rel="nofollow" style="font-size: 24px;" class="nav-link" href="https://soundcloud.com/j-r-my-dutheil/" target="_blank"><i class="fab fa-soundcloud"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        {% block body %}
        {% endblock %}

        <section class="contact">
            <div class="container">
                <p class="contact-txt" itemscope itemtype="http://schema.org/Person">
                    Pour tout renseignement :<br>
                    <span itemprop="name">Jérémy Dutheil</span> - <a style="color: #FFFFFF;" href="/">Accordéoniste à Paris</a> <br> <a href="mailto:dutheil.jeremy@gmail.com" style="color: #ffffff" itemprop="email">dutheil.jeremy@gmail.com</a> - <span itemprop="telephone">06.85.38.22.16</span><br>
                </p>

                <p class="contact-txt" style="margin-top: 10px;">
                    <a title="Retrouvez moi sur Facebook" style="font-size: 24px; color: #FFFFFF; margin-right: 10px;" href="https://www.facebook.com/jeremydutheilaccordeoniste/" target="_blank" ><i class="fab fa-facebook"></i></a>
                    <a title="Retrouvez moi sur Youtube" style="font-size: 24px; color: #FFFFFF; margin-right: 10px;" href="https://www.youtube.com/channel/UCTHC327qYeB34ri8Fgzubjw" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a title="Retrouvez moi sur Soundcloud" style="font-size: 24px; color: #FFFFFF;" href="https://soundcloud.com/j-r-my-dutheil/" target="_blank"><i class="fab fa-soundcloud"></i></a>
                    <a title="Retrouvez moi sur LiveTonight" style="" href="https://livetonight-dot-yamm-track.appspot.com/Redirect?ukey=1nGcsuKOZ27OLxDe8NWFrLO7Wfs4w5z_JPHRm1X_ZDB8-993220127&key=YAMMID-22322822&link=https%3A%2F%2Fwww.livetonight.fr%2Fgroupe-musique-dj%2F3484-jeremy-dutheil" target="_blank"><img style="height: 20px; vertical-align: -2px; margin-left: 10px;" src="img/livetonight.png"></a>
                </p>

                <hr style="background-color: #ffffff;">

                <p class="text-center" style="font-size: 14px; ">
                    <a style="color: #FFFFFF;" href="{{ path('mentions_legales') }}">Mentions légales</a> - <a href="{{ path('groupe_jazz_manouche_mariage_paris') }}" style="color: #ffffff;">Groupe de jazz manouche pour votre mariage</a> - <a href="{{ path('accordeoniste_soiree') }}" style="color: #ffffff;">Accordéoniste pour votre soirée</a> - <a href="{{ path('animations') }}" style="color: #ffffff;">Toutes les animations musicales</a><br>
                    <!--- <br>
                    Jérémy fait confiance à <a href="http://www.monsieuraccordeon.com" style="color: #ffffff;" target="_blank" title="Réparation / Accordage accordéons en Ile de France">Monsieur Accordéon</a> pour l'entretien de ses accordéons.
                --></p>
            </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5519214.js"></script>
        <!-- End of HubSpot Embed Code -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
