<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('img/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('img/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('img/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <title>
            {% block title %}Accordéoniste professionnel – Jérémy DUTHEIL – Paris, Ile de France{% endblock %}
        </title>

        {% block metadesc %}
            <meta name="description" content="Jérémy Dutheil est accordéoniste à Paris ; musicien professionnel et expérimenté, il intervient seul ou en groupe lors de concerts, événements, animations ou soirées privées.">
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {% block stylesheets %}{% endblock %}

        <meta name="google-site-verification" content="1PGa-HjhRJoyN5SLrUG5rKOh6chzypvwrtXmKVe7zBE" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57123259-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-57123259-1');
        </script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}"><span class="navbar-brand-span">J</span>érémy <span class="navbar-brand-span">D</span>UTHEIL</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Ouvrir le menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {% set route = app.request.attributes.get('_route') %}

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'homepage' %}nav-link--active{% endif %}" href="{{ path('homepage') }}">Accueil</a>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'bio' %}nav-link--active{% endif %}" href="{{ path('bio') }}">Biographie</a>
                        </li>

                        <li class="nav-item px-2 py-1">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'videos' %}nav-link--active{% endif %}" href="{{ path('videos') }}">Vidéos / Audio</a>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == 'collaborations'
                                                  or route == 'duos'
                                                  or route == 'mime'
                                                  or route == 'marie'
                                                  or route == 'elena'
                                                  or route == 'groupes' %}nav-link--active{% endif %}" href="{{ path('collaborations') }}">Collaborations</a>
                        </li>

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == 'animations' %}nav-link--active{% endif %}"
                                href="{{ path('animations') }}">
                                Animations
                            </a>
                        </li>

                        <!--<li class="nav-item px-2 py-1 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Animations
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Animations seniors</a>
                                <a class="dropdown-item" href="#">Mariages</a>
                                <a class="dropdown-item" href="#">Anniversaires</a>
                                <a class="dropdown-item" href="#">Événements d'entreprise</a>
                                <a class="dropdown-item" href="#">Repas en musique</a>
                                <a class="dropdown-item" href="#">Soirées privées</a>
                            </div>
                        </li>-->

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == 'styles' %}nav-link--active{% endif %}"
                                href="#">
                                Styles
                            </a>
                        </li>

                        <!--<li class="nav-item px-2 py-1 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Styles
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Guinguette</a>
                                <a class="dropdown-item" href="#">Chanson française</a>
                                <a class="dropdown-item" href="#">Jazz</a>
                            </div>
                        </li>-->

                        <li class="nav-item px-2 py-1">
                            <a class="nav-link {% if route == 'contact' %}nav-link--active{% endif %}" href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        {% block body %}{% endblock %}

        <section class="contact">
            <div class="container">
                <p class="contact-txt" itemscope itemtype="http://schema.org/Person">
                    N'hésitez pas à me contacter pour toute information :<br>
                    <span itemprop="name">Jérémy DUTHEIL</span> - <a href="mailto:dutheil.jeremy@gmail.com" style="color: #ffffff" itemprop="email">dutheil.jeremy@gmail.com</a> - <span itemprop="telephone">06.85.38.22.16</span><br>
                    <div class="text-center" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">1B Place Moutier</span>, <span itemprop="postalCode">77170</span> <span itemprop="addressLocality">Brie Comte Robert</span>
                    </div>
                </p>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
