<div class="partners">
    <img src="{{ asset('img/vinci.png') }}" alt="Vinci" style="max-height: 100px; margin-right: 25px;">
    <img src="{{ asset('img/audiens.png') }}" alt="Audiens" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/lebarn.svg') }}" alt="Hôtel Le Barn" style="max-width: 100px; max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/terremer.png') }}" alt="Restaurant Terre & Mer" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/greatweddings.jpeg') }}" alt="Great Weddings in France" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/bistrochamps.png') }}" alt="Le Bistro des Champs" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/lamarlotte.png') }}" alt="La Marlotte" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/venteprivee.png') }}" alt="vente-privee.com" style="max-height: 100px; margin-right: 25px;">
    <img src="{{ asset('img/crillonlogo.png') }}" alt="Hôtel Le Crillon" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/pureessentiel.jpeg') }}" alt="PureEssentiel" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/mariott.png') }}" alt="Hôtel Marriott" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/jcdecaux.png') }}" alt="JcDecaux" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/asten.png') }}" alt="Asten" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/mediakiosk.gif') }}" alt="MediaKiosk" style="max-height: 60px; margin-right: 25px;">
    <img src="{{ asset('img/caviarkaspia.png') }}" alt="Caviar Kaspia" style="max-height: 60px; margin-right: 25px;">
</div>
