{% extends 'base.html.twig' %}

{% block title %}
    Accordéoniste professionnel | Seine-et-Marne (77) | Jérémy DUTHEIL
{% endblock %}

{% block metadesc %}
    <meta name="description" content="Accordéoniste professionnel en Seine-et-Marne (77) disponible seul ou en groupe pour concerts, événements, animations ou soirées privées.">
{% endblock %}

{% block body %}
    <section class="flash flash--limited">
        <div class="flash-item">
            <img src="img/flash-item-1.jpg" alt="Accordéoniste en concert" title="Accordéoniste professionnel en Seine-et-Marne" class="flash-item__background">
        </div>
        <!-- /.flash-item -->
    </section>
    <!-- /.flash -->

    <section class="flash-ghost flash-ghost--limited"></section>

    <section class="content-section bg--blank page-section">
		<div class="container bg--blank">
			<h1 class="section-title">Accordéoniste professionnel</h1>

			<div class="row">
				<div class="col-sm-12">
                    <p>
                        Vous cherchez un accordéoniste en Seine-et-Marne (77), par exemple à <a href="{{ path('melun') }}">Melun</a>, <a href="{{ path('fontainebleau') }}">Fontainebleau</a> ou <a href="{{ path('meaux') }}">Meaux</a> ?
                    </p>
                </div>
            </div>

            <p>
				Jérémy DUTHEIL vous propose avec son accordéon des formules sur mesures pour <strong>l'animation musicale</strong> de votre cocktail, fête ou soirée d'entreprise ; seul ou accompagné d'autres <strong>musiciens</strong>, dans un style plutôt moderne ou <strong>rétro</strong>, il saura combler vos invités en s'adaptant à leurs envies (et les votres !). Musicien professionnel avec de l'expérience, le répertoire proposé est varié et personnalisé pour votre événement.
			</p>

			<p>
				Destinées à tout type de public, ces formules s'adressent aussi bien aux <em>particuliers</em> qu'aux <em>professionnels</em> ; grâce aux qualités acoustique de l'instrument, les conditions techniques sont réduites au minimum. En effet, la plupart du temps, la sonorisation n'est pas nécessaire. Pour de plus grands espaces, pas d'inquiétude : Jérémy DUTHEIL (et ses musiciens) sont <strong>autonomes</strong> et installeront un système de diffusion adapté à votre lieu.
			</p>

			<h2 class="section-title section-title--small" style="margin-top: 25px;">Accordéon solo pour une ambiance discrète</h2>

			<div class="row">
				<div class="col-md-8">
					<p>
						En solo, l'accordéon peut se faire discret, et délivrer une musique de fond agréable pendant votre cocktail ou repas ; ambiance cosy et feutrée assurée ! Vous entendrez alors quelque <strong>standards jazz</strong>, mais aussi des airs de <strong>chanson française</strong> et de <strong>swing musette</strong>.. Le style <em>"guinguette rétro"</em>, fortement apprécié aujourd'hui, donnera sans aucun doute une touche très classe à votre événement !
					</p>

					<p>
						Fort de nombreuses années d'expérience, Jérémy propose des prestations pouvant durer jusque <em>plusieurs heures</em> ; n'hésitez pas à lui demander des morceaux particuliers en amont, qu'il se fera un plaisir de préparer pour le jour J !
					</p>

					<p>
						Exemples de morceaux présents dans le répertoire :
						<ul>
							<li>
								Les feuilles mortes
							</li>

							<li>
								La Foule
							</li>

							<li>
								All of Me
							</li>

							<li>
								Minor Swing
							</li>

							<li>
								Sous le ciel de Paris
							</li>

							<li>
								Aux Champs Elysées
							</li>

							<li>
								Mon amant de Saint Jean
							</li>

							<li>
								Sunny side of the Street
							</li>

							<li>
								Emmenez moi
							</li>

							<li>
								Ménilmontant
							</li>

							<li>
								Les copains d'abord
							</li>

							<li>
								<i>Et bien d'autres...</i>
							</li>
						</ul>
					</p>
				</div>

				<div class="col-md-4">
					<img src="{{ asset('img/videos-pic.jpg') }}" alt="Jérémy DUTHEIL, accordéoniste, en concert" class="img-fluid page-section__img">
				</div>
				<!-- /.col-sm-4 -->
			</div>

			<h2 class="section-title section-title--small" style="margin-top: 20px;">En groupe, pour plus d'énergie</h2>

			<p>
				Vous cherchez un <strong>groupe de musique</strong> pour votre soirée ou événement, plutôt qu'un musicien seul ? Jérémy propose également de nombreuses formules, où lui et son accordéon sont rejoints par d'autres instrumentistes ; les formations sont variées, en fonction de vos envies et de votre budget. En voici quelque exemples, n'hésitez pas à <a href="{{ path('contact') }}">envoyer un message</a> pour plus d'informations.
			</p>

			<ul>
				<li>
					<strong>Duo accordéon / chant</strong> : les grands standards de la <strong>chanson française</strong>, ainsi que quelque pépites moins connues !
				</li>

				<li>
					<strong>Duo accordéon / guitare</strong> : répertoire de <strong>standards jazz</strong>, balades, ...
				</li>

				<li>
					<strong>Trio accordéon / guitare / contrebasse ou accordéon / 2 guitares</strong> : les grands classiques du <strong>jazz manouche</strong> !
				</li>

				<li>
					Et bien d'autres...
				</li>
			</ul>
        </div>
    </section>
{% endblock %}
